[2017-07-26 04:25] samhalpa opened #2 "Read empty rows"
I have a xlsx file which contains only 100 filled rows. (2 columns). This file was created from a google spread sheet. When I try to convert those rows into an object using Poiji, it converts an empty rows as well.
By default sheet has 1000 rows. Out of those 1000 rows only 100 rows contains data. (in 2 columns). But after converting to objects I get 1000 objects.
Is there anyway that it can stop

[2017-07-26 08:22] ozlerhakan commented on #2
Hi @samhalpa ,

Thank you for bringing this up!, could I have your mentioned excel file to improve the current test cases?

[2017-07-26 09:40] samhalpa commented on #2
Hi @ozlerhakan
Please download the file from following link:
https://docs.google.com/spreadsheets/d/1fsbLSIAXZCmeOEjVUyiizwkEKUSlG_s3JrSORKkZi0E/edit?usp=sharing

[2017-07-26 12:42] ozlerhakan commented on #2
Thanks @samhalpa , the new release i.e. 1.2 should be available today, i guess

[2017-07-26 13:40] #2 closed

[2017-07-31 07:57] huangfuconghhh opened #4 "java.lang.NoSuchFieldError: CREATE_NULL_AS_BLANK"
The excel is test.xlsx:
|campusid | campusname | campusnumber | campusarea | campusaddress
|ca111111 | campus1| 301 | 5000 | address1
|ca111112 | campus2 | 302 | 4000 | address2
|ca111113 | campus3 | 303 | 3000 | address3
|ca111114 | campus4 | 304 | 2000 | address4
|ca111115 | campus5 | 305 | 500 | address5
|ca111116 | campus6 | 306 | 1000 | address6
And the pojo code is also right.
        @Excel

[2017-07-31 14:17] huangfuconghhh commented on #4
I can runmy testcase correctly in the source code.
But when i import it by maven ,it failed.
And when i change the  Row.MissingCellPolicy.CREATE_NULL_AS_BLANK to Row.CREATE_NULL_AS_BLANK in isRowEmpty(), it worked.
I am so confused.

[2017-07-31 14:51] ozlerhakan commented on #4
Hi @huangfuconghhh ,

Do you use the Poiji's dependency of Apache POI right? By default, poiji uses Apache POI 3.15

[2017-07-31 14:52] ozlerhakan commented on #4
They say that `Row.CREATE_NULL_AS_BLANK` will be deprecated  as of POI 3.15-beta2, scheduled for removal in 3.17 - use the MissingCellPolicy enum instead

[2017-07-31 19:48] luangs7 opened #5 "Dex cannot parse version 52 byte code."
Log:
Error:Error converting bytecode to dex:
Cause: Dex cannot parse version 52 byte code.
This is caused by library dependencies that have been compiled using Java 8 or above.
If you are using the 'java' gradle plugin in a library submodule add
targetCompatibility = '1.7'
sourceCompatibility = '1.7'
to that submodule's build.gradle file.

[2017-07-31 19:52] ozlerhakan commented on #5
Hi @luangs7 ,

Do you mean that we should compile the framework with Java 7?

[2017-07-31 19:54] luangs7 commented on #5
@ozlerhakan I would like to :(

[2017-07-31 19:55] ozlerhakan commented on #5
I will do it :)) , just I must sure that I don't use any Java 8 features on it

[2017-07-31 20:20] ozlerhakan commented on #5
Hi @luangs7 ,

as of v1.3 it is compatible with Java 7 and above, https://oss.sonatype.org/content/groups/public/com/github/ozlerhakan/poiji/

[2017-07-31 20:31] luangs7 commented on #5
Thanks mate! @ozlerhakan
But I found this error:

Did I do something wrong?

[2017-07-31 20:48] ozlerhakan commented on #5
Hmm interesting, this should exist in the main org.apache.poi package. Did you check this class whether it is really exists or not?

[2017-07-31 20:58] luangs7 commented on #5
@ozlerhakan Yeah, I found `import org.apache.poi.ss.usermodel.DataFormatter;` in Unmarshaller class.

[2017-07-31 21:06] ozlerhakan commented on #5
so any failure happens again?

[2017-07-31 21:28] ozlerhakan commented on #5
I mean in your project, is Apache poi  dependency imported into you deps correctly?

[2017-08-01 01:15] huangfuconghhh commented on #4
I change the poi verson  from 3.9 to 3.15 and it works. Thank you. It helps me a lot.

[2017-08-01 01:16] luangs7 commented on #5
@ozlerhakan Yes, this is the log:

                                                                       java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/poi/ss/usermodel/DataFormatter;
                                                                           at com.poiji.internal.marshaller.Unmarshaller.<init>(Unmarshaller.java:27)

[2017-08-01 01:34] luangs7 commented on #5
I found the problem.
I forgot to import this `JAR`: `poi-ooxml-schemas`

But is showing another error again, but my mistake I think

[2017-08-01 01:36] luangs7 commented on #5
This is my code
`            PoijiOptions options = PoijiOptions.PoijiOptionsBuilder.settings(1).build();
            List<Employee> employees = Poiji.fromExcel(mFile, Employee.class, options);
            Employee firstEmployee = employees.get(0);`

Showing this error:

[2017-08-01 03:14] samhalpa commented on #5
@luangs7 Did you try it without adding any apache poi dependencies to your pom? Just use only poiji in the pom.

[2017-08-01 06:05] ozlerhakan commented on #4
Great!, you don't need to include apache poi dependency, just import poiji , it will include apache poi as well.

[2017-08-01 06:05] #4 closed

[2017-08-01 06:08] ozlerhakan commented on #5
After testing poiji v1.3 , I haven't seen any abnormal issue. as @samhalpa  says, Apache poi is a transitive dependency of Poiji, so you don't need to include Apache Poi. Poiji uses Apache poi 3.15.

[2017-10-03 04:42] ghacupha opened #6 "Cannot read doubles, int, dates from xls file"
The library seems fine but it can only read values into a bean field which is a string

[2017-10-03 18:38] ozlerhakan commented on #6
Hi @ghacupha ,

Have you look at [this test case](https://github.com/ozlerhakan/poiji/blob/master/src/test/java/com/poiji/deserialize/DerializersEmptyCellTest.java), you can be right for dates but int and boolean values are tested. I will look at them again later on.

[2017-10-15 12:11] ozlerhakan commented on #6
you can use `Date` as of poiji 1.4 @ghacupha  https://github.com/ozlerhakan/poiji/blob/80395b6ba0b1b415c85d7635d1a1a324e53c7880/src/test/java/com/poiji/deserialize/model/EmployeeExtended.java#L16

[2017-10-18 16:09] pouniok opened #7 "Import unformatted cells"
Hello,

Is it possible to add an Option to get the unformatted cells values ?

Would be perfect because some users add their own format and I can't parse an unknown format into a Double for example.

Thanks

[2017-10-18 16:22] ghacupha commented on #6
I have done a test and seen that it actually works, both for those primitives and the date. Thanks

[2017-10-18 16:49] ozlerhakan commented on #6
cool!

[2017-10-18 16:49] #6 closed

[2017-10-18 16:50] ozlerhakan commented on #7
Hi @pouniok ,

Could you please elaborate it more by giving an example for that case?

[2017-10-21 15:41] vpradeepkumar94 opened #8 "Accessing data from different SpreadSheet"
Hi,
How to access the data from different sheets in same excel ?

[2017-10-23 16:03] ozlerhakan commented on #8
Hi @vpradeepkumar94 ,

Currently we can only get the first (default) sheet of an excel file. However, we can add a sheet index option to `PoijiOptions` to look at different sheet.

[2017-10-24 11:11] ghacupha opened #9 "Parsing of Dates"
Could we also add support for locales? I realized with the dates, it seems to work when I use the US format and it is precisely like this : "MM/dd/yy"
If I specify "MM/dd/yyyy" it will not work, if I use the UK format it will not work

[2017-10-24 16:16] ozlerhakan commented on #5
I am closing this issue, feel free to leave comments if you have any related problem.

[2017-10-24 16:16] #5 closed

[2017-10-24 16:55] ozlerhakan commented on #9
Hi @ghacupha ,

Have you looked at the test?

https://github.com/ozlerhakan/poiji/blob/fbeb77d29cfa02511c48b74f54f937157654679a/src/test/java/com/poiji/deserialize/DerializersExtendedTest.java#L53

Could you explain your case?

[2017-10-24 16:58] ozlerhakan commented on #8
you can use PoijiOptions with the sheet index option as of 1.5 like below:

[code]

You pick the **second** sheet of the excel. @vpradeepkumar94

[2017-10-24 17:03] ozlerhakan commented on #7
I am not sure how to do it right now :/ since poi gives us formatted value directly.

[2017-10-25 19:32] pouniok commented on #7
I think we can handle this here :
https://github.com/ozlerhakan/poiji/blob/81ed126fb9ef7213ed23bcc10006879a3bde75eb/src/main/java/com/poiji/internal/marshaller/Unmarshaller.java#L86

`String value = dataFormatter.formatCellValue(cell);`

Maybe by replacing this line with something like :
`String value = options.importFormattedCells() ? df.formatCellValue(cell) : cell.getStringCellValue();`

I fork

[2017-10-25 22:20] ozlerhakan commented on #7
ah great!

1. clone the project (You actually pass this step :))
2. do your changes
3. add a test case based on your change
4. run `mvn clean install` to see that the tests are pass

Since 1.5, `.xls` and `.xlsx` structures now use a different path,  your work should only work for the `.xls` file.

[2017-10-26 18:38] phatthinh123 opened #10 "Parsing of dates not working"
When i'm trying to parse date it turn out this format
I don't know why its not working with cell date types in my case
instead of dd/M/yyyy it should be
i tried to use cell.getDateCellValue() it will turn out the year will not missing
![image](https://user-images.githubusercontent.com/23252545/32070692-6101b60e-bab7-11e7-9100-414d06eb34d7.png)
![image](https://user-images.githubusercontent.com/232

[2017-10-26 22:35] ozlerhakan commented on #10
Hi @phatthinh123 ,

Did you try to change the default format of date using the poiji option?

[code]

Result:

[code]

[2017-10-27 02:21] phatthinh123 commented on #10
Oh, thanks you i didn't see that coming
i was tried M/dd/yy

[2017-10-27 02:21] #10 closed

[2017-10-27 03:18] phatthinh123 opened #11 "Returning null value for a String type using 1.5"
Backthen when it's 1.4 it will return empty in case just string alone
After new update it's return null if the cell is empty
I mean when the column present is empty it will return me null value although it's type String
Thank you

[2017-10-27 07:57] ozlerhakan commented on #11
yes, if a cell is empty for a `xlsx` file, that corresponding field will be null if it is `String`.  Do you want the old behavior for 1.5?

[2017-10-27 09:04] #11 closed

[2017-10-29 05:42] vpradeepkumar94 commented on #8
Hi,
Thanks for the update :)

[2017-10-29 07:20] #8 closed

[2017-11-03 07:34] ghacupha commented on #9
Am sorry I have not been able to submit the tests. Been swamped. Let me do that over this weekend, or in the course of next week

[2017-11-03 12:33] ozlerhakan commented on #9
no problem, take your time @ghacupha

[2017-11-06 10:22] ghacupha commented on #9
I looked at the test and added my own using a test using the simpleDateFormatter to check if the the dates were the same. Coming soon to a pull request near you...
I was wrong. The dates were reading just fine, only that I had mismatched the pattern at first, and assumed that it was a locale specification problem, but java.util.Date does not have to have locale. So I think the date thing is workin

[2017-11-06 10:22] #9 closed

[2017-11-06 14:00] ghacupha opened #15 "Coverage increase / decrease incorrect for pull request #14"
I don't understand how those minor changes might have caused the coverage to decrease. If anything i removed a line of code somewhere. Anyway I will see if I could test cases covering the uncovered exceptions

[2017-11-06 15:09] ozlerhakan commented on #15
that's not a big problem as far as the coverage is above the 80%

[2017-11-06 15:47] ghacupha opened #17 "Converting Files and Casting to Singletons"
Hi? Is it okay, if I do a PR with Files and Casting as singletons. This would enable me to test the 2 classes and maybe help raise the code coverage. Casting seems like a class that would really benefit if we could do something like the file attached.

Update:
The PR seems to have, (not expected) passed all tests, despite the conflict in HSSFUnmarshaller and PoijiHandler.

[CastingTest.txt](https:

[2017-11-06 16:08] #15 closed

[2017-11-06 16:19] ghacupha commented on #17
Now featuring in commit # 18...

[2017-11-06 16:20] #17 closed

[2017-12-06 19:28] blaketastic2 opened #20 "CastingTest incorrect"
It appears that in the CastingTest.java, the "castValue" is passed Object types, instead of primitive types. This causes the "castValue" to not even hit the conditions for anything other than "java.util.Date". An easy work around would be to change to the primitive implementation, however, the tests will need to be re-written.

[2017-12-06 20:24] ozlerhakan commented on #20
Hi @blaketastic2 ,

Thank you for examining and bringing this up. I will look at the mentioned test class.

[2017-12-07 13:29] ozlerhakan commented on #20
I have changed the way of passing the primitive types at [1.8](https://github.com/ozlerhakan/poiji/blob/4146d7f788a672872b633194762650c49d2325f1/src/test/java/com/poiji/util/CastingTest.java) branch for the CastingTest class. you can take a look at it.

[2017-12-07 18:40] ozlerhakan commented on #20
Your changes live on the new version 1.8, thanks again.

[2017-12-07 18:40] #20 closed

[2018-01-18 14:16] ExCx opened #21 "Duplicate entry error"
Hi, I added your library to my gradle and when I try to build my project it threw this error:

I found it [here](https://stackoverflow.com/questions/35499583/poi-duplicate-entry-org-apache-xmlbeans-xml-stream-location-class) that this issue is related to POI having same class names with javax or something like that.

Your last commit is pretty new though. I guess it's my mistake but I cannot find

[2018-01-18 17:29] ozlerhakan commented on #21
Hi @ExCx ,

I haven't known that issue before. Have you tried to remove the duplicate classes in the corresponding jar file followed by creating a new jar?

[2018-01-18 21:55] ExCx commented on #21
Hmm, no. It seemed a little bit complicated to me, so I didn't even try.

As you see, in that SO link they suggested this repackaged version to overcome this issue: https://github.com/andruhon/android5xlsx

So I tried to add that library instead and my project is built without problems.

Now, I can work with that library too. But your sample codes seem much more practical for my situation. That li

[2018-01-18 22:42] ozlerhakan commented on #21
well, let's see how I can help you with the problem.

I can give a try to eliminate duplicated classes from the jar but we must prepared ourselves for any obscure results. if you share with me a simple POC project that gives that error is a good starting point, I think.

[2018-01-19 08:12] ExCx commented on #21
Ok, now I tried to build a clean project and found the problem. It's because I need to use Java 1.8 compatibility. Set the target and source compatibility in module settings or place this into the gradle file and you'll see:

        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

[2018-01-19 09:13] ozlerhakan commented on #21
so it works now right?

[2018-01-19 22:15] ozlerhakan commented on #21
I keep in my mind the problem.

Thank you @ExCx :) and

[2018-03-01 23:10] abdulrafique opened #22 "Skip Blank rows between header and data"
[DummyData.xlsx](https://github.com/ozlerhakan/poiji/files/1773107/DummyData.xlsx)
While parsing the excel, if there are blank rows between header and actual data, I need the ability to skip those rows, currently it fails with NullPointerException while trying to parse rows:

[code]

[2018-03-02 08:33] ozlerhakan commented on #22
Hi @abdulrafique ,

Thank you for bringing this issue up. I'll take a look at the case soon.

[2018-03-02 08:57] vashe9 commented on #4
I have the same error, I have poi imported only via poiji but I still get this error for xls files, xlsx files give another error.

[2018-03-02 09:01] vashe9 opened #23 "Problem with POI version java.lang.NoSuchFieldError: CREATE_NULL_AS_BLANK, xlsx files not working"
I'm guetting this error when I try to import a xls file :

java.lang.NoSuchFieldError: CREATE_NULL_AS_BLANK
	at com.poiji.bind.mapping.HSSFUnmarshaller.isRowEmpty(HSSFUnmarshaller.java:113)
	at com.poiji.bind.mapping.HSSFUnmarshaller.unmarshal(HSSFUnmarshaller.java:52)
	at com.poiji.bind.Poiji.fromExcel(Poiji.java:89)
	..

My pom only imports poi only via poiji and when I go the the actual code, i

[2018-03-02 09:29] vashe9 commented on #23
Actually I had to override the version of poi

<dependency>
			<groupId>com.github.ozlerhakan</groupId>
			<artifactId>poiji</artifactId><version>${poiji.version}</version>
			<exclusions>
				<exclusion>
					<groupId>org.apache.poi</groupId>
					<artifactId>poi</artifactId>
				</exclusion>
			</exclusions>
		</dependency>
		  <dependency>
		<groupId>org.apache.poi</groupId>

[2018-03-03 22:12] ozlerhakan commented on #22
Hi @abdulrafique,

I have fixed the issue so that you can try out the version 1.9 now:

[code]

[2018-03-05 08:02] #22 closed

[2018-03-06 00:04] abdulrafique opened #24 "Mechanism is required to get column values by header names"
Mechanism is required to get column values by header names.

For Example:
Expected header format is:
id name
Actual:
name id

We don't have mechanism to specify it is invalid format, we can only read by annotation as:
@ExcelCell(0)
int id;

@ExcelCell(1)
String name;

So if we have an excel in format:
name id

I think we should also have mechanism to read by header name:

@ExcelCellName("id")
int

[2018-03-07 11:08] vashe9 commented on #23
Still getting the same error... The poi version seem to bug. I'm using Spring 3.5 context...
Caused by: java.lang.NoSuchFieldError: CREATE_NULL_AS_BLANK
        at com.poiji.bind.mapping.HSSFUnmarshaller.isRowEmpty(HSSFUnmarshaller.java:113) [poiji-1.8.jar:]
        at com.poiji.bind.mapping.HSSFUnmarshaller.unmarshal(HSSFUnmarshaller.java:52) [poiji-1.8.jar:]

It's supposed to be using poi 3.17..

[2018-03-07 19:26] nwarriorch opened #25 "Mechanism required to input file streams instead of files."
In the current mechanism. If the file is in memory as a byte stream there is no way around committing it to a file system. It'll be great if we can have a constructor that takes file stream as an input.

[2018-03-08 03:51] abdulrafique opened #26 "Set row number in converted Excel POJO's"
When we convert an Excel to it's corresponding POJO, I need provision to know the row number of Excel sheet the converted POJO belongs to. It will be a very useful feature when we will have validation failures in POJO and we want to track it back to row number in Excel sheet.

[2018-03-08 07:02] ozlerhakan commented on #23
Have you tried out 1.9?

[2018-03-08 07:04] ozlerhakan commented on #23
You should have the following dependencies after importing poiji, otherwise, try to add the missing dependencies by yourself:

<img width="412" alt="screen shot 2018-03-08 at 10 03 41 am" src="https://user-images.githubusercontent.com/1964927/37137715-194065c2-22b8-11e8-9a0d-4ba0a6db842a.png">

[2018-03-08 14:15] abdulrafique commented on #26
I have fixed the issue, PR is available for review.

[2018-03-08 14:50] ozlerhakan commented on #26
Hi @abdulrafique ,

I have refactored the code a bit to better suit for the #24 I'll add your changes on top of that as well.

[2018-03-11 03:55] abdulrafique commented on #26
Hi @ozlerhakan,

When are you planning to release new version with fix for issue #26?

[2018-03-12 08:18] ozlerhakan commented on #23
Feel free to comment here, later on, I am closing this thread.

[2018-03-12 08:18] #23 closed

[2018-03-12 10:25] ozlerhakan commented on #25
We are able to do it now as follows:

[code]

[2018-03-12 10:26] ozlerhakan commented on #26
I have just released the 1.10 so you can give it a try along with the issue 25. Thank you @abdulrafique

[2018-03-12 10:30] ozlerhakan commented on #24
We can add this feature plainly in the process of `.xls` file, however, I am not sure how to make this possible if an excel file is of format `.xlsx`.

[2018-03-12 11:30] vashe9 commented on #23
Actually, a jboss provided "Spring io" module was causing the problem, it was always trying to use poi 3.10.1  which doesn't work.

[2018-03-12 16:57] #26 closed

[2018-03-12 16:57] #25 closed

[2018-03-12 22:04] abdulrafique commented on #26
Thanks @ozlerhakan

[2018-03-16 15:44] nwarriorch commented on #24
Why not parse the first row and match it with the pattern provided? how would it look like in .xls?

[2018-03-16 21:33] ozlerhakan commented on #24
You're right @nwarriorch , this could be the solution path for types of `.xlsx`

[2018-03-18 09:49] ozlerhakan commented on #24
1.11 enables to make this possible with the both excel types now. Thank you @nwarriorch , @abdulrafique

[2018-03-18 09:49] #24 closed

[2018-03-22 23:16] abdulrafique opened #28 "Can we read encrypted excels using poiji?"
Can we read encrypted excels using poiji?

We have excels which are password protected and I need to read them.

[2018-03-23 07:11] ozlerhakan commented on #28
Currently, It's not supported. But we can find a way to do it https://poi.apache.org/encryption.html

[2018-03-26 00:43] abdulrafique opened #29 "Not able to read by Column name if the header starts from row x"
Not able to read by Column name if the header starts from row x

I have to start reading the rows from row 6, so I have specified my headers at row 5, but using version 1.11, I am not able to read such scenario by column name.

 @ExcelCellName("Currency")
    private String currency;

    @ExcelCellName("No")
    private String no;

Config Class:
 @Bean(name = "poijiOptionsSMBQ")
    public PoijiO

[2018-03-26 06:42] ozlerhakan commented on #29
For a workaround, just put the header in the first row, we need an option to specify it, otherwise, no one can know where the header is in the excel.

[2018-03-26 07:31] abdulrafique commented on #29
I think if we are reading from n row as part of poiji options then it's safe to assume n-1 as header

[2018-03-26 08:15] ozlerhakan commented on #29
hmm, this is not a general case though

[2018-03-26 18:26] abdulrafique commented on #29
Or can we say where the header is in poiji options to support reading by header names for scenarios where header is at (n-1)

[2018-03-26 18:27] abdulrafique opened #30 "I need to get header information of excel sheet"
Do we have mechanism to extract header info of an excel sheet.

[2018-04-03 10:34] HaikuOezu opened #31 "Provider com.bea.xml.stream.EventFactory not found"
Hello
I'm successfully using poiji to read XLS files in my Android app, however after I changed PoijiExcelType.XLS to PoijiExcelType.XLSX in my Poiji.fromExcel() call my app crashes with the following stacktrace

`FATAL EXCEPTION: main
                                                                     Process: com.haistudios.taxman, PID: 7928

[2018-04-03 10:55] HaikuOezu commented on #31
Actually nevermind, a little bit more reasearch helped me fix the issue! I'm detailing the fix in case somebody else has the same issue.

I included Aalto, an open-source JSR173 provider by adding this to my app's gradle
`compile group: 'com.fasterxml', name: 'aalto-xml', version: '1.0.0'`

Then I told POI to use Aalto with the following code (I put this in my Application's onCreate(), but I assum

[2018-04-03 10:55] #31 closed

[2018-04-03 12:11] ozlerhakan commented on #31
wow thank you for the issue and its answer @HaikuOezu

[2018-04-03 14:53] ozlerhakan commented on #28
Of course @nwarriorch, I appreciate that

[2018-04-03 14:57] ozlerhakan commented on #30
we can find a way to do that as well

[2018-04-03 14:58] nwarriorch commented on #28
@ozlerhakan great! assign me the ticket and I shall update here as I progress.

[2018-04-03 15:08] ozlerhakan commented on #28
right now I cannot assign you. once you contribute the project, you'll be assignable, I guess

[2018-04-03 15:44] nwarriorch commented on #28
No issues. Will create a pull request when I am done.

[2018-04-09 01:24] abdulrafique commented on #28
Do we have capability now for encrypted excels.

[2018-05-09 11:54] JDSCaram commented on #21
Any solution for using Java 8?

[code]
Without  the Java 8, it is works normally

[2018-05-16 09:06] ThanosFisherman opened #32 "Can I map only the first 10 rows?"
I need to read only the first 10 rows from an excel of 1 million rows and this needs to be done fast. Can I map only the first 10 rows in a streaming fashion?

[2018-05-16 09:25] ozlerhakan commented on #28
Did you make any progress for this case @nwarriorch ?

[2018-05-16 09:41] ThanosFisherman commented on #32
Hi @ozlerhakan yes that would help. Thanks

[2018-06-15 19:08] brobee opened #33 "How can we read by "ExcelCellName""
Hi,

First, thank you for your work. This part of the tutorial doesn't show how, it uses index as well. Any example would be helpful! Thanks!

[2018-06-15 20:14] ozlerhakan commented on #33
Hi @brobee ,

Is this the example that you didn't understand ?:

[code]

I can elaborate more, if so.

[2018-06-15 20:38] brobee commented on #33
I tried to use it without it, but I got the following error:

Object creation:
`static List<TestCaseData> ipTestData = Poiji.fromExcel(new File("src/test/resources/testData/testData.xlsx"), TestCaseData.class);`

TestCaseData:

[code]

java.lang.ExceptionInInitializerError
Caused by: com.poiji.exception.IllegalCastException: Cannot create a new instance of net.XXX.TestCaseData
	at com.poiji.bind.m

[2018-06-15 20:44] ozlerhakan commented on #33
I have just created a toy project that contains a poiji dependency. Please take a look at that project and let me know if you don't understand some parts

https://github.com/ozlerhakan/poiji-example

[2018-06-15 20:46] brobee commented on #33
Thank you! I really appreciate your answer! However I Struggling with the castexception. It seems to me, all the structure is fine

[2018-06-15 20:56] ozlerhakan commented on #33
Do you have the following dependencies when adding poiji in your pom file?

<img width="406" alt="screen shot 2018-06-15 at 11 55 46 pm" src="https://user-images.githubusercontent.com/1964927/41489168-a87ac10a-70f7-11e8-8e10-fa7ecf450821.png">

[2018-06-15 21:01] brobee commented on #33
yes, only apache.poi versions are 3.15 not 3.17, but all of them in my external libraries

[2018-06-15 21:04] ozlerhakan commented on #33
Could you please explicitly add apache.poi dependency into your pom with 3.17? Perhaps, 3.15 raises this exception.

[2018-06-15 21:12] brobee commented on #33
I added manually, no success so far. It is very weird, because if I debug the code, I see the parsed data in ipTestData list. When I want to go on, I got this error. Maybe it is a bug.. What do you think?

[2018-06-15 21:13] ozlerhakan commented on #33
Could you share your code with me?

[2018-06-15 21:19] brobee commented on #33
Can you please upload the xls file? Maybe this is the problem...

[2018-06-15 21:20] ozlerhakan commented on #33
all excel files located here : https://github.com/ozlerhakan/poiji/tree/master/src/test/resources

Which excel file did you use?

[2018-06-15 21:28] brobee commented on #33
Wow, it works. Does it matter I use static? I deleted static and your code is fine.

[2018-06-15 21:34] ozlerhakan commented on #33
Sounds great @brobee , feel free to open an issue if you have any question. static modifier doesn't work with poiji, yes.

[2018-06-15 21:34] #33 closed

[2018-06-19 11:51] fermartinez1 opened #34 "Can we map a list field from a column?"
I have:
public class ProductDTO {

String id;
String name;
List<String> colors;
...
}
how can i map this object?

Thanks

[2018-06-20 13:42] ozlerhakan commented on #34
What is the structure of your excel file?

[2018-06-21 11:55] vikrantch-hk opened #35 "getting cast exception in case if fields are wrapper calsses"
@ozlerhakan hi is there a way to use wrapper classes for fields lets say Long or Double. I was trying with Long field and getting cast exception, when I changed field type to primitive it worked properly. Is there a way I can use Wrapper classes of primitive types

[2018-06-21 14:56] ozlerhakan commented on #35
Hi @vikrantch-hk ,

Currently, poiji only supports primitive types. We can find a proper way to make this possible though.

[2018-06-21 15:38] vikrantch-hk commented on #35
@ozlerhakan can you suggest where should I look into if I want to try these changes

[2018-06-21 18:57] ozlerhakan commented on #35
I'll release a new version about that purpose in one hour @vikrantch-hk

[2018-06-21 18:58] ozlerhakan commented on #35
If what I am thinking will work correctly, we should only look at the `Casting#castValue` method to add wrapper classes next to primitive types.

[2018-06-21 19:25] ozlerhakan commented on #35
You can use 1.12 @vikrantch-hk  now

[2018-06-22 04:05] vikrantch-hk commented on #35
@ozlerhakan thanks :)

[2018-06-22 07:59] ozlerhakan commented on #35
Great thanks @vikrantch-hk

[2018-06-22 07:59] #35 closed

[2018-06-22 10:31] ozlerhakan commented on #28
Hi @abdulrafique ,

We are able to read encrypted files as of 1.13. Could you please try it out?

[2018-06-23 09:47] ozlerhakan commented on #28
feel free to drop a message here for the feature.

[2018-06-23 09:47] #28 closed

[2018-07-01 14:59] abdulrafique opened #36 "Can we read till a particular row only"
Suppose I have 40 rows, and I want to read from row 1 only till row 10 , is it possible to do so?

[2018-07-01 15:44] ozlerhakan commented on #36
Does this relate to #32?

[2018-07-02 00:20] abdulrafique commented on #36
I think yes

[2018-07-02 08:19] ozlerhakan commented on #36
I am closing this, since it's a duplicate

[2018-07-02 08:19] #36 closed

[2018-07-02 08:20] ozlerhakan commented on #34
Feel free to add more detail to this thread later on. I close for now.

[2018-07-02 08:20] #34 closed

[2018-07-02 08:23] #7 closed

[2018-07-12 14:14] gajeralalji opened #37 "When any two rows has same data it only adds one java object in list of POJO"
You can replicate it by reading a file which has 2 duplicate rows.

[2018-07-12 15:26] ozlerhakan commented on #37
Hi @gajeralalji ,

I haven't produced the error. Could you share your file?

[2018-07-12 15:48] gajeralalji commented on #37
Sorry My bad, I had this setting resulting to ignore data row.
  PoijiOptions options = PoijiOptionsBuilder.settings(2).build();
Closing the issue

[2018-07-12 15:48] #37 closed

[2018-07-14 00:52] karthickdj opened #38 "Is there a way to evaluate formulas using this library?"

[2018-07-14 08:39] ozlerhakan commented on #38
currently not @karthickdj

[2018-07-14 19:17] ozlerhakan commented on #38
feel free to add more details about that case, so that we can find a way to make it possible.

[2018-07-14 19:17] #38 closed

[2018-07-30 20:22] brobee opened #40 "Column handling possibilities"
Hi Hakan,

1. question: I have an excel sheet, but in some cases, I need to avoid not only the first row, I need to skip the first 3 row. PoijiOptions is ok with it? How can use it?

2. question: what if I have 5 column like: id|name|gender|age|address and I need to parse in one case only the age and address? How can I do that with cell position number? Or in this case, I need to use ExcelCellName

[2018-07-31 02:13] surimogili opened #41 "Object contains list of objects inside"
For example if I want to read excel where I have objects inside one object
Like
Inside Employee
I have Address object with different fields
or for example if  I have two address for one employee
In this case how we can handle this?
My model looks like this
Employee
{
List<Address> addressList;
}

Address
{
String pincode;
}

Can you pls help how todo using poiji

[2018-07-31 08:37] ozlerhakan commented on #41
Hi @surimogili ,

Does each address exist in a different column?

| Name        | Adress 1           | Address 2  |
| ------------- |:-------------:| -----:|
| Joe     | address1 | address2 |
| Paul      | address1      |   $address2 |

[2018-07-31 08:45] ozlerhakan commented on #40
Hi @brobee ,

To ignore the first 3 rows, you can use PoijiOptions to set the required number as

[code]

| id        | name           | gender  |
| ------------- |:-------------:| -----:|
| 123      | Joe | Male |
| 3432      | Paul      |   Male |
| 3842 | Doe      |    Male |

If you have a table like above, and you only want to get the name from the excel file, you can only add the poiji annot

[2018-07-31 15:19] brobee commented on #40
Thank you for your answer!

1. question: got it, thanks!

2.question: What if I want to get the id and gender? So I need to skip few columns? I just use excelCell(1) for id and ExcelCell(2) for gender and I skip the name?

And what if I want to get the java object not by index, by getters like getGender?

My other question, is it possible to use List, not single element? What if I have 3 integer i

[2018-07-31 15:32] ozlerhakan commented on #40
In the example table, ExcelCell(0) will give you the id column and ExcelCell(2) gives you the gender column. As long as you mention ExcelCell in your fields you can map the corresponding columns.

If I understand your question, you can create getter and setter for each field but poiji injects the excel data to fields without using their getters/setters methods.

Hmm, currently, poiji doesn't suppo

[2018-07-31 16:52] brobee commented on #40
Actually yes. Poiji parse the excel and put in an object but I'd like to use custom getters like getId, getName. So If I parse the excel using:

List<TestObject> tcDataSet = Poiji.fromExcel(new File("src/test/resources/testData/testData.xlsx"),TestObject.class);

tcDataSet.get(0).getName should work. is that correct?

List support would be awesome, in this case we could use the lib for our project

[2018-07-31 20:47] ozlerhakan commented on #40
Yes, as long as you created a getter method for the name field, you'll access the data using the getter method.

I keep this in my mind, Thank you @brobee

[2018-08-01 01:27] surimogili commented on #41
Yes, exactly. Not only address, we have more such repetitive columns.

[2018-08-01 08:52] #40 closed

[2018-08-01 08:54] ozlerhakan commented on #41
If your excel columns are fixed, you can create an entity class like below:

public class Person {

    @ExcelCell(0)
    private String name;

    @ExcelCell(1)
    private String address1;

    @ExcelCell(2)
    private String address2;

}

[2018-08-01 10:06] surimogili commented on #41
No, what I want exactly is
Inside Person, I have list of address objects. For example below are the column names
Name, address1, city1, state1, pincode1, address2, city2, state2, pincode2;

My Model class will look like this
Person
{
String name;
List<Address> addressList;
}

In address class I should have like this

Address
{
String address;
String city;
String state;
String pincode;
}

[2018-08-01 10:43] Ramgarr opened #42 "Adding support for java.time.LocalDate and Enums"
Hello

Love this package !

I'd love it even more if it could support java.time.LocalDate and Enums !

Do you think adding this could be of interest ? I'd be willing to do it.

[2018-08-01 11:01] ozlerhakan commented on #41
poiji doesn't support such approach @surimogili

[2018-08-01 11:04] ozlerhakan commented on #42
Hi @Ramgarr ,

Sounds good, I think. In a later version, probably Poiji only supports Java 8 and newer. We can then support `java.time.LocalDate` for sure.

[2018-08-01 14:11] brobee opened #44 "Skip every second row support"
Hi Hakan,

can we configure poiji in order to skip every second row during the parsing?

headerRow: using poiji options, skip it (It is ok)
valid dataRow: parse
some additional info in a new row: Do not parse it.
valid dataRow: Parse
additionalInfoRow: do not parse it
etc.

Thanks!

[2018-08-01 15:38] Ramgarr commented on #42
I created a pull request for this, feel free to use it !

https://github.com/ozlerhakan/poiji/pull/45

Thanks for the lib, it works great !

[2018-08-01 23:41] alexandrarprice opened #47 "Blank numeric cells are zero rather than null"
Hello!
I'm currently working on a project where we are using your library to parse an xls into an object and then doing some validation against that object.

We are running into an issue where when a numeric cell is blank, after parsing using Poiji, when we check the value of that field it is 0 -- this makes it hard for us to determine if the field actually contained zero or was blank/empty. We ne

[2018-08-02 07:04] fmarazita opened #48 "Excel date import format error"
Hi @ozlerhakan

I think I have found a little bug for the Excel Type excel.
If the column in the excel is type "Excel Date" and not "String" the tool import not correctly the date.

For example try to import the following excel (sheet1):
https://www.esma.europa.eu/sites/default/files/template_-_si_calculations.xlsx

for the first row I have:
If you use in the Pojo:
Column(0) String -> 1/1/18
or
Co

[2018-08-02 08:39] ozlerhakan commented on #47
Hi @alexandrarprice ,

Have you tried to initialize the field to null or other values like:

[code]

You can use wrapper classes of primitive types with poiji.

[2018-08-02 08:41] ozlerhakan commented on #48
I will add an option to set a custom date formatter, so that you can add your formatter to handle different date formats @fmarazita

[2018-08-02 09:37] ozlerhakan commented on #44
Hi @brobee ,

Hmm, this feature doesn't exist right now. We need to implement a skip mechanism to do that.

[2018-08-02 09:45] ozlerhakan commented on #48
Hi @fmarazita ,

You can now use 1.15 to create a custom date time formatter. In your case, you should create a datetime formatter like:

[code]

[2018-08-02 09:45] #48 closed

[2018-08-02 09:46] ozlerhakan commented on #42
Thanks again @Ramgarr, 1.15 is available now.

[2018-08-02 09:46] #42 closed

[2018-08-02 10:05] fmarazita commented on #48
I will try when maven central will be updated. Thanks a lot!

[2018-08-02 18:52] alexandrarprice commented on #47
Hey, thanks so much for the quick response!
We just tried this and we found it was still being overwritten as zero. If this isn't the intended behavior, we'd be happy to try our best shot at a PR!
Thanks!

In case it helps at all, here's a sample of what our object looks like:
[code]
We tried it with @ExcelCell as well, same results.
Tagging teammate @mindyor as I'll be headed out on vacation this

[2018-08-02 20:29] ozlerhakan commented on #47
Hmm, I can also investigate if you have a test excel file @alexandrarprice

[2018-08-02 21:12] mindyor commented on #47
Thanks for helping us take a look!

Uploading a zip ([Archive.zip](https://github.com/ozlerhakan/poiji/files/2255156/Archive.zip)) with two toy files:
- sample.xlsx works, does initialize Cost automatically
[code]
or to a number should we choose to.
[code]

- sample.xls shows us 0 regardless of what we initialize cost to.

[2018-08-06 08:35] koiralakiran1 opened #50 "Using poiji in android"
I'm trying to use it in android. As Android doesn't allow duplicate classes withing jar files, I'm getting an error `"duplicate entry: org/apache/xmlbeans/xml/stream/Location.class"`
I know its not the problem in your project but in Apache POI.
I think its the same issue as [this]( https://github.com/ozlerhakan/poiji/issues/21)

So I've searched the issue got custom Apache POI jar file with no dup

[2018-08-06 19:01] mindyor opened #51 "Poiji.fromExcel mutates input file"
Poiji's method fromExcel(final File file, final Class<T> type) mutates the input file.
When I set the input file to be read only, this yields a PoijiException wrapping FileNotFoundException (permission denied)

[code]

[2018-08-06 21:57] ozlerhakan commented on #51
Hi @mindyor ,

Thank you for let me know that issue. I will try to fix for the next release.

[2018-08-06 21:58] ozlerhakan commented on #50
what do you think about this problem @ghacupha ?

[2018-08-07 01:04] mindyor commented on #51
Thank you! We were able to work around it by using the other fromExcel method, but thought you might like to know :)

[2018-08-07 02:50] mindyor commented on #47
Using PoijiOptions.preferNullOverDefault didn't seem to help :/

[2018-08-07 10:09] ozlerhakan commented on #51
Could you try the new snapshot 1.16 for this problem @mindyor ?

[code]

[2018-08-07 10:10] ozlerhakan commented on #47
Hi @mindyor ,

Could you try the 1.16 snapshot for this case:

[code]

[2018-08-07 17:47] mindyor commented on #47
Hm, I seem unable to pull down that snapshot.

https://jcenter.bintray.com/com/github/ozlerhakan/poiji/ and https://repo.maven.apache.org/maven2/com/github/ozlerhakan/poiji/ only go up to 1.15.

[2018-08-07 18:02] ozlerhakan commented on #47
You can see the snapshot over there: https://oss.sonatype.org/content/repositories/snapshots/com/github/ozlerhakan/poiji/

You should mention this url in your pom file as a reporsitory. You can look at this gist for details: https://gist.github.com/ktuukkan/8cf2de1e915185118c60

[2018-08-07 19:18] mindyor commented on #47
Ah, got it. Thank you.

Without preferNullOverDefault(true), the same behavior persists (defaults to 0) for XLS
With preferNullOverDefault(true), String cells are null for both XLS and XLSX.

[2018-08-07 19:30] mindyor commented on #51
Looks good to me!

[2018-08-07 20:29] ozlerhakan commented on #47
So this is what you want? @mindyor

[2018-08-07 21:20] mindyor commented on #47
Sorry for not being clearer.
No, it looks like this change breaks the existing functionality for String.

[2018-08-07 21:28] ozlerhakan commented on #47
But if we use `preferNullOverDefault(true)` String values should be null. Otherwise, String fields will be assigned to an empty String. What do you think?

[2018-08-07 21:53] mindyor commented on #47
I agree, but even cells that are non-empty are being parsed in as null. Are you able to replicate this?

[2018-08-07 22:16] ozlerhakan commented on #47
hmm, interesting, do you have a mockup excel ?

[2018-08-07 22:30] mindyor commented on #47
The excel in the zipfile attached above (sample.xls in Archive.zip) should work.

[2018-08-07 23:02] ozlerhakan commented on #47
You can try again the same snapshot, I think I have fixed that problem.

[2018-08-07 23:26] mindyor commented on #47
Yes!! Looks good 👍 !!

[2018-08-08 08:31] phatthinh123 opened #52 "Adding parse exception for java.time.LocalDate"
Hello,
i would love it if it could have some empty check before parse a localdate or exception to return null :+1:
since you have added it recently
Thanks you xD

[2018-08-08 09:29] willpengZH opened #53 "Date format"
Please, help me out.

Am I using PoijiOptions correctly?

#### Excel
Name|Birthday
--- | ---
Oliver|1982-02-05

#### Entity
[code]

#### Setting date pattern
[code]

#### Exception
[code]

[2018-08-08 09:38] ozlerhakan commented on #53
Hi @willpengZH ,

You used `java.sql.Date ` for birthday field. You should either `java.util.Date ` or `java.time.DateTime ` classes.

[2018-08-08 09:45] ozlerhakan commented on #52
Hi @phatthinh123 ,

Do you mean, if the date cell is empty string, we should return null? Normally, If the date cell is empty (not empty String) the corresponding field value will be null.

[2018-08-08 10:25] phatthinh123 commented on #52
Yea, atleast some things to handle the exception when using LocalDate
It stopped running after error when trying to parse an empty String
I didn't talk about Date

[2018-08-08 12:06] ozlerhakan commented on #53
Additionally, this statement `PoijiOptions options = PoijiOptionsBuilder.settings().datePattern("yyyy-MM-dd").build();` is only working for a field is of `java.util.Date` type. You need to use `dateTimeFormatter` for `java.time.DateTime`.

[2018-08-08 12:06] ozlerhakan commented on #52
I see. I will handle it for 1.16, Thanks @phatthinh123

[2018-08-08 14:44] willpengZH commented on #53
Thanks.
For my understanding, `java.sql.Date` inherits from `java.util.Date`, which means `java.sql.Date` “is” `java.util.Date`.
It supposed to be working fine. Right?

[2018-08-08 14:55] ozlerhakan commented on #53
Poiji right now doesn't support `java.sql.Date` :/

[2018-08-08 14:55] ozlerhakan commented on #52
1.16 is now available @phatthinh123

[2018-08-08 14:56] ozlerhakan commented on #51
1.16 is now available @mindyor

[2018-08-08 14:56] ozlerhakan commented on #47
1.16 is now available @mindyor @alexandrarprice

[2018-08-08 15:07] willpengZH commented on #53
Thanks.
Btw, Poiji is awesome though.

[2018-08-08 16:09] ozlerhakan commented on #53
Thank you @willpengZH :)

[2018-08-08 16:09] #53 closed

[2018-08-09 01:39] abdulrafique opened #54 "Update README with version of apache poi required to run poiji"
I was using apache poi 3.14 and poiji fails to give POJO's in case file is xls. I then have to come and look into your pom to understand Apache poi version supported. It's better to mention it in README file.

Trying to upload a xls file and create POJO:

Caused by: java.lang.NoSuchMethodError: org.apache.poi.ss.usermodel.Cell.getCellTypeEnum()Lorg/apache/poi/ss/usermodel/CellType;
	at com.poiji.b

[2018-08-09 07:09] ozlerhakan commented on #54
I will mention the version of apache poi. Just note that, If you add poiji in your pom, apache poi dependencies will be downloaded as well since apache poi and its dependencies are the transitive dependencies.

[2018-08-09 08:56] phatthinh123 commented on #52
Thanks you

[2018-08-09 08:56] #52 closed

[2018-08-11 14:00] Developer-Matt opened #55 "Skip hidden sheets"
Is it currently possible and I just cant see how, or would it be possible to introduce a settings option to ignore all hidden Excel sheets.
Could not figure out why a excel book I was given would not work and eventually figured out that there where an 4 additional sheets hidden before the one i was viewing and trying to import

Thanks

[2018-08-11 18:49] ozlerhakan commented on #55
Do you want to take a specific sheet in your excel? If so, you can use `sheetIndex`:

[code]
In this case, poiji looks at the *second* sheet of the excel file.

[2018-08-11 20:39] Developer-Matt commented on #55
Hi thanks for reply,

Yes I saw the sheet index but unfortunately it wont work for my case as I never know which order the sheets are in.  I just know that I should process the visible ones and ignore all the hidden ones.

I can happily code this up myself and create pull request if you can just point me in the right direction as to where best put this kind of check.

Thanks

[2018-08-11 21:41] ozlerhakan commented on #55
Hi @Developer-Matt ,

We handle this process differently for xls and xlsx formats.

You need to look at this part for xls: https://github.com/ozlerhakan/poiji/blob/master/src/main/java/com/poiji/bind/mapping/HSSFUnmarshaller.java#L47

and for xlsx :
https://github.com/ozlerhakan/poiji/blob/master/src/main/java/com/poiji/bind/mapping/XSSFUnmarshaller.java#L51

[2018-08-14 21:31] alexandrarprice commented on #47
Awesome, thank you so much!!

[2018-08-15 06:30] #47 closed

[2018-08-15 06:31] #51 closed

[2018-08-16 12:00] #54 closed

[2018-09-02 09:38] ozlerhakan commented on #55
1.17.0 now allows skipping hidden excel sheets :)

[2018-09-02 09:38] #55 closed

[2018-09-02 09:42] ozlerhakan commented on #55
[code]
1. Skip all hidden sheets of the excel file and retrieve the data from the 2nd visible sheet

[2018-09-02 17:26] Developer-Matt opened #57 "Date pattern Regex"
Hey,  We are having a lot of excel documents being imported with strange date formats, while we can set the date format in the setting options, if the excel document cell value does not match this exact format we sometimes get a strange Date object created, no parse exception is thrown so we don't get null value, we get a strange date.  Would rather have null date then an incorrect date.

Would it

[2018-09-10 06:38] ozlerhakan commented on #57
Hi @Developer-Matt ,

Sorry for my late response about your problem. It looks like you settle it with a new PR Thanks! I will take a look at the changes and notify you

[2018-09-17 21:44] bpenergy opened #59 "Skip useless lines"
Hello,

I had some issues to deserialize beans using ExcelCellName.

My Excel file was the following:

![capture](https://user-images.githubusercontent.com/23032559/45652008-3a92cb80-baa1-11e8-9262-9cee935ba9f2.PNG)

In fact, it would be nice to have a similar attribute in loadColumnTitles in order to skip useless lines.

Thank you,

Philippe

[2018-09-18 07:13] #57 closed

[2018-09-18 09:47] ozlerhakan commented on #59
Hi @bpenergy ,

Thank you for bringing this up. We should consider this case in a later version.

[2018-09-18 12:28] bpenergy commented on #59
Ok thank you,

Philippe

[2018-09-18 12:56] bpenergy opened #60 "Add Required attribute on annotation ExcelCell and ExcelCellName"
Hello,

It would be nice to have Required attribute on annotation.

Thank you,

Philippe

[2018-09-18 13:20] ozlerhakan commented on #60
Hi @bpenergy ,

Could you please elaborate more about your case?

[2018-09-18 16:37] ozlerhakan commented on #60
I didn't understand your point @bpenergy , because you cannot use `@ExcelCell` and `@ExcelCellName` with an empty decleration. That is they require a parameter.

[code]

[2018-09-18 17:34] bpenergy commented on #60
I will use like that:

[code]
And Parser will return a parsing Exception when name attribute is null but not for optionalValue.

[2018-10-06 10:57] siromidz opened #61 "Unable to resolve dependency"
when i add implementation 'com.github.ozlerhakan:poiji:1.18.0' to my build.gradle file and sync ,
i get this error:

Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.github.ozlerhakan:poiji:1.18.0.

[2018-10-06 15:16] ozlerhakan commented on #61
Hi @siromidz ,

I don't use gradle in my projects. However, when I try it on a new gradle project, it works with the following  `build.gradle` file:

[code]

[2018-10-17 09:12] SimonGW opened #62 "Add bigDecimal to castValue"
Would it be possible to support BigDecimal in Casting.java? I have made a suggestion for the solution here:
`else if (fieldType.getName().equals("java.math.BigDecimal")) {
            o = bigDecimalValue(value, options);
}`
`private BigDecimal bigDecimalValue(String value, PoijiOptions options) {
        try {
            String clean = value != null ? value.replace(",", ".") : "";
            ret

[2018-10-17 10:28] ozlerhakan commented on #62
Hi @SimonGW ,

Good idea! I will add to support apache poi 4.0.0 as of 1.18.1 and the addition you did here.

[2018-10-17 10:32] SimonGW commented on #62
Thank you for the quickly reply, looking forward to version 1.18.1.

[2018-10-17 10:38] ozlerhakan commented on #62
I have just published it @SimonGW , once maven repo is updated, you can use 1.18.1. Thank you for your collaboration.

[2018-10-17 15:37] #62 closed

[2018-10-18 17:03] JoaTorres opened #63 "Get cell value, not the formula."
Can i get the cell value instead of the full formula cell as a String?

![poijihelp](https://user-images.githubusercontent.com/19332008/47171246-d0eb2480-d2cd-11e8-8c4a-8605a10e76f5.png)

[2018-10-18 19:32] ozlerhakan commented on #63
Hi @JoaTorres ,

Do you have a sample excel file to try out this case?

[2018-10-18 20:53] JoaTorres commented on #63
The sheets im trying to upload are "COBRARPAGARDOC", "DCOBRARPAGARDOC" and "ICOBRARPAGARDOC".
Ty for the reply.

[Antam 1809 - Prexixion NCR I.xlsx](https://github.com/ozlerhakan/poiji/files/2493579/Antam.1809.-.Prexixion.NCR.I.xlsx)

[2018-10-29 10:04] #61 closed

[2018-10-29 18:07] jaimemorales52 opened #64 "Exception in thread "main" java.lang.NoSuchMethodError"
How can I fix this error because I dont know the reason of this error?

I am using the same example, thanks!

Exception in thread "main" java.lang.NoSuchMethodError: org.apache.poi.ss.usermodel.Cell.getCellType()Lorg/apache/poi/ss/usermodel/CellType;
	at com.poiji.bind.mapping.HSSFUnmarshaller.isRowEmpty(HSSFUnmarshaller.java:160)
	at com.poiji.bind.mapping.HSSFUnmarshaller.unmarshal(HSSFUnmarshal

[2018-10-29 18:15] jaimemorales52 commented on #64
I have fixed it using the last version of apache poi, 4.0.0.

[2018-10-29 18:15] jaimemorales52 commented on #64
I have fixed it using the last version of apache poi, 4.0.0.

[2018-10-29 18:15] #64 closed

[2018-11-01 04:43] Emeecodes01 opened #65 "Not working on Android"
Any time i try to write this library on android it always gives this error and the app crashes
java.lang.NoClassDefFoundError: Failed resolution of: Ljava/time/format/DateTimeFormatter;

[2018-11-01 06:54] ozlerhakan commented on #65
Hi @Emeecodes01 ,

`DateTimeFormatter ` comes with Java 8. Currently, It's not compatible with Android.

[2018-11-01 13:37] Emeecodes01 commented on #65
OK, so does it mean you can't use this library In Android?

On Nov 1, 2018 07:54, "Hakan Özler" <notifications@github.com> wrote:

[2018-11-05 08:00] ozlerhakan commented on #65
you can use poiji 1.16 or prior versions unless you use Java 1.8

[2018-11-07 10:13] apollo1 opened #66 "Feature Request: Allow for mandatory ExcelCellName fields and throw exception if not present in the input Excel file"
I recently used poiji for extracting the content from an excel file, but I found myself wanting it to do one extra thing. :)

When creating your object model using @ExcelCellName on fields, can we also have an annotation for fields to be required/mandatory.  Then, when deserializing an excel file if the mandatory fields are not present in the Excel file being read, throw a data validation exceptio

[2018-11-22 07:45] zhouyixiang commented on #29
It will be awesome if this option can be added. Header row should be as close as to the data rows, above the header we could provide hints or something else related in the template.

[2018-11-29 13:35] ozlerhakan commented on #59
Hi @bpenergy ,

This is available as of 1.19. You can use the `headerStart` method to specify at which the position of the header starts. In the example above, the header starts at 4 (zero-based index).

[2018-11-29 13:35] #59 closed

[2018-11-29 13:36] ozlerhakan commented on #50
duplicate of #21 , feel free to leave a comment

[2018-11-29 13:36] #50 closed

[2018-11-29 13:38] ozlerhakan commented on #29
This is available as of 1.19. You can use the `headerStart` method to specify the position at where the header starts.

[2018-11-29 13:38] #29 closed

[2018-11-29 13:39] ozlerhakan commented on #66
duplicate of #60

[2018-11-29 13:39] #66 closed

[2018-11-29 13:40] ozlerhakan commented on #30
what information do you want specifically @abdulrafique ?

[2018-12-24 07:25] nehas510 opened #69 "Can I use this library to write Data to Excel sheet ?"
I want to write the data to the excel sheet can that be done using this library?

[2018-12-24 08:05] ozlerhakan commented on #69
Hi @nehas510 ,

Poiji only transfers the data from excel sheets to java objects.

[2018-12-24 11:14] nehas510 commented on #69
ok, thnx @ozlerhakan!  Anyways I found this library super easy to use.

Keep up the good work :)

[2018-12-24 11:14] #69 closed

[2019-01-08 14:04] fermartinez1 opened #70 "Problem converting from excel with version 1.19.1"
With last versión (1.19.1) when i do:
products = Poiji.fromExcel(intputStream, PoijiExcelType.XLS, ProductExcelDTO.class);
the return stateman is null but, if the file extension is .XLSX it works fine.
If i do the same with the version 1.13 , its works fine with .XLS and .XLSX .
The DTO haves @ExcelCell and @ExcelCellName.

[2019-01-08 15:08] ozlerhakan commented on #70
Hi @fermartinez1 ,
Do you have any error on this?

[2019-01-08 15:10] fermartinez1 commented on #70
No, only the return is NULL.

[2019-01-08 17:06] ozlerhakan commented on #70
I'll look at it, thank you @fermartinez1 .

[2019-01-09 12:02] fermartinez1 commented on #70
[atach.zip](https://github.com/ozlerhakan/poiji/files/2740753/atach.zip)

Sorry for the delay, i attached the files. If you change file extension to .xlsx it works fine.

[2019-01-10 11:01] ozlerhakan commented on #70
I added your test case among the tests so you can try 1.19.2 once it's available on the maven central @fermartinez1

[2019-01-15 11:44] ozlerhakan commented on #70
Feel free to add your comments if you have questions for this issue, I close it for now

[2019-01-15 11:44] #70 closed

[2019-02-06 12:45] VanOvermeire opened #72 "IndexOutOfBoundsException when using fromExcel"
Hi,

When I try to use your library on an excel from https://www.uci.org/road/teams, I get the following error:

`java.lang.IndexOutOfBoundsException: Index: 0, Size: 0 at java.util.ArrayList.rangeCheck(ArrayList.java:657) ~[na:1.8.0_162] at java.util.ArrayList.get(ArrayList.java:433) ~[na:1.8.0_162] at com.poiji.bind.mapping.XSSFUnmarshaller.unmarshal0(XSSFUnmarshaller.java:64) ~[poiji-1.19.2.jar

[2019-02-07 13:34] ozlerhakan commented on #72
Hi @VanOvermeire ,

Thanks for the suggestion. we can show a similar error message in the next release.

This is, I guess, a rare situation so I need to produce the same case to give some ideas about how to avoid this issue.

[2019-02-07 14:29] VanOvermeire commented on #72
Hi @ozlerhakan,

The file in attachment should cause the exception when called with something like:

`Poiji.fromExcel(inputStream, PoijiExcelType.XLSX, CyclistFromFile.class, options);`

The inputstream is from `multipartFile.getInputStream()`.

Our current workaround is to catch the error and return a bad request. It seems likely that the excel is generated by some library that doesn't set the me

[2019-02-09 12:41] 4sujittiwari opened #73 "Parsing the sheet by its name rather than its index"
Can we currently parse the excel sheet by its name rather than giving its index.

The problem facing is that the end user has full control over the excel and can modify the sheets index.

So to parsing an excel by sheet name as Apache poi library provides will add great flexibility for developers.

[2019-02-10 16:56] #41 closed

[2019-02-10 16:56] #30 closed

[2019-02-10 16:57] ozlerhakan commented on #65
it's a duplicate of #21

[2019-02-10 16:57] #65 closed

[2019-02-10 17:00] ozlerhakan commented on #73
Hi @4sujittiwari ,

we can find a way to support both options

[2019-02-11 06:01] 4sujittiwari commented on #73
Hey @ozlerhakan,

I have just written some lines of code in **XSSFUnmarshaller** which gave me the support for parsing the excel sheet by name.

`
			String sheetName = options.getSheetName();
			while (iter.hasNext()) {
					try (InputStream stream = iter.next()) {
						if (iter.getSheetName().equalsIgnoreCase(sheetName)) {
						WorkBookSheet wbs = sheets.get(sheetCounter);
						if (wbs.getSta

[2019-02-11 07:42] nehas510 opened #74 "Want to have empty field "" instead of "null" if my excel sheet contains no value"
I am reading an excel sheet to run my testcases I have a requirement that I need to pass empty parameters in the request, however when I read the empty cell from the excel sheet it gives me "null"

Can you please help?

[2019-02-11 20:30] vandanagoel opened #75 "Enum support"
Can a Excel CellValue be mapped to an enum?

[2019-02-11 21:18] vandanagoel commented on #75
Looking at code it seems
    private Object enumValue(String value, Class type) {
        return Arrays
                .stream(type.getEnumConstants())
                .filter(o -> ((Enum) o).name().equals(value))
                .findFirst()
                .orElse(null);
    }

name of enum is used.  Using toString gives more flexibility.

[2019-02-11 21:23] ozlerhakan commented on #75
yes @vandanagoel

[2019-02-11 21:24] ozlerhakan commented on #74
Could you try using a primitive data type @nehas510 , If It will not work, we can find a way to make this possible.

[2019-02-11 21:25] ozlerhakan commented on #73
seems good but we need to provide two options, reading data by sheet id and sheet name. @4sujittiwari

[2019-02-12 04:36] 4sujittiwari commented on #73
Hello @ozlerhakan

I have kept both the options to read the excel file.

[2019-02-12 07:15] nehas510 commented on #74
@ozlerhakan Thanks for the response.  I have all my data as type String.

[2019-02-12 07:24] ozlerhakan commented on #74
do you want certain string fields to be an empty string like `""` ? @nehas510

[2019-02-12 07:26] nehas510 commented on #74
Yes, that's it!

[2019-02-12 07:45] ozlerhakan commented on #74
Do you use `preferNullOverDefault()` option @nehas510 ?

[2019-02-12 07:48] nehas510 commented on #74
NO, I am not using it @ozlerhakan

[2019-02-12 07:54] ozlerhakan commented on #74
Okay, you can create your own casting class, so you can set fields empty string:

[code]
Please check https://github.com/ozlerhakan/poiji#example-6

[2019-02-12 08:44] nehas510 commented on #74
thanks a lot! I will try and let you know

[2019-02-13 05:28] nehas510 commented on #74
HI @ozlerhakan , I tried to cast but I am not that much aware of how to use the casting method currently what I am doing is: Created a class:
[code]

And I am calling it like this :

[code]

I guess I am missing out something, so I am getting this error :

[code]

It will be a great if you can help me resolve this. Thanks a lot for all the good work!

[2019-02-13 15:46] ozlerhakan commented on #74
[code]
and you need to create model like https://github.com/ozlerhakan/poiji#example-2

[code]
It should work:

[code]

[2019-02-14 07:28] nehas510 commented on #74
This is my method which called the getDatafromExcel method

[code]

This is my POJO class. Here do I need to specify cell name for casting ?

[code]

[2019-02-14 19:24] ozlerhakan commented on #74
Probably you need some sort of this change:

[code]

and change ExcelToPojo like:

[code]

[2019-02-17 05:24] nehas510 commented on #74
HI Sorry for the late response as it was a weekend here.
I will try it today and let you know.

Thanks again for the help
Neha

[2019-02-17 10:25] nehas510 commented on #74
I exactly used the same way as you mentioned it gives me this error :(
[code]

[2019-02-17 16:58] ozlerhakan commented on #74
I think, I know the problem. Since you use your own casting implementation that is `NullCasting`.  The casting class return a String value all the time. You need to change the type of `rowIndex` to `String`.

[code]

[2019-02-18 05:14] nehas510 commented on #74
Hi @ozlerhakan  this resolved the error and it works smooth however Its still taking the value as null instead of empty :(

[2019-02-18 06:28] ozlerhakan commented on #74
hmm, one more thing I have in my mind is set all fields with `""` string:

[code]

If that doesn't work, you need to share the code with us.

[2019-02-18 06:30] ozlerhakan commented on #75
Do you mean this: `((Enum) o).toString().equals(value))` @vandanagoel ?

[2019-02-18 06:30] nehas510 commented on #74
@ozlerhakan  It worked!! Yay!! Thanks a lot for all the help!

Keep up the good work! :)

[2019-02-18 06:56] ozlerhakan commented on #74
Great that it worked! :)

[2019-02-18 06:56] #74 closed

[2019-02-18 13:13] ozlerhakan commented on #73
feel free to make a PR @4sujittiwari

[2019-02-18 13:14] ozlerhakan commented on #72
thanks @VanOvermeire , I'll take a look at this case

[2019-02-18 13:56] 4sujittiwari commented on #73
Sure will make one

[2019-02-25 23:23] vandanagoel commented on #75
yes  thats what I mean.   @ozlerhakan

[2019-02-28 12:05] JENISKAVADIYA commented on #73
Has this been implemented now ?

[2019-02-28 12:27] JENISKAVADIYA opened #76 "Convert excel columns to Java objects instead of rows"
We have excel sheet generated from business (external web application) that generates excel sheets with test headers specified in columns and test data column wise. poiji is missing populating Java from column instead of existing support of rows data.

[2019-03-04 07:58] ozlerhakan commented on #76
Hi @JENISKAVADIYA ,

Feel free to implement this feature, It would be nice to have it :)

[2019-03-13 07:22] 4sujittiwari commented on #73
Sorry guys, I got caught up into some task. I have implemented it but some tests are failing so I am making sure everything works fine after this change.

[2019-03-13 12:07] 4sujittiwari commented on #63
@ozlerhakan Has this been fixed..?

[2019-03-25 12:23] vmasule opened #78 "Can't parse date to either LocalDate or Date or String correctly"
**I have below format date in excel.**

Original DOB

30/07/1969
03/10/1984
29/09/1955

How to parse these to `yyyy-MM-dd`?. I am getting no error message here.

**What I have tried**

[code]

[2019-03-25 17:38] ozlerhakan commented on #78
Hi @vmasule ,

It looks like the pattern you want doesn't match the input, you should try something
[code]

[2019-03-25 17:40] ozlerhakan commented on #78
Note that `dateTimeFormatter ` only works for fields whose type is `java.time.LocalDate`

[2019-03-27 10:01] vmasule commented on #78
@ozlerhakan, Sorry it didn't work for me. Is it because I have calculated(formula) on that column?
Is there a way I can enforce to evaluate formal on the column?

[2019-03-27 19:20] ozlerhakan commented on #78
do you have a mock excel? @vmasule I can try on it

[2019-04-03 09:32] venkypokala opened #79 "NoClassDefFoundError:Failed resolution of :Ljavax/XML/stream/XMLEventFactory"
NoClassDefFoundError:Failed resolution of :Ljavax/XML/stream/XMLEventFactory in android target API 28. runtime issue

[2019-04-12 12:18] ozlerhakan commented on #79
please use the latest version of poiji and check the transitive dependencies of apache poi @venkypokala

[2019-04-14 16:51] ozlerhakan commented on #79
feel free to leave a comment if the issue is still alive

[2019-04-14 16:51] #79 closed

[2019-04-14 16:51] #78 closed

[2019-04-14 16:52] ozlerhakan commented on #76
once you add this change, we can open it again

[2019-04-14 16:52] #76 closed

[2019-04-17 06:56] #73 closed

[2019-04-18 07:39] venkypokala commented on #79
I am using library :    implementation 'com.github.ozlerhakan:poiji:1.20.0'

still am getting this issue
  java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/xml/stream/XMLEventFactory;
        at org.apache.poi.openxml4j.opc.internal.marshallers.PackagePropertiesMarshaller.<clinit>(PackagePropertiesMarshaller.java:41)
        at org.apache.poi.openxml4j.opc.OPCPackage.<init>(OPCPackage.

[2019-04-18 09:17] ozlerhakan commented on #79
could you look at these issues first #64, #23

[2019-04-18 14:39] cemremengu opened #80 "Map<int,String> support?"
Is there a way to read the workbook as a map of sheets?

If not (and this is a desired functionality), I would like to send a PR.

[2019-04-18 15:12] cemremengu commented on #80
On a second thought, this does not make sense for this library so closing :smile:

[2019-04-18 15:12] #80 closed

[2019-05-06 05:10] ghacupha opened #83 "java.lang.ClassNotFoundException: org.apache.commons.compress.utils.InputStreamStatistics"
Just ran into that exception, when running version 1.20.0. Not sure how, but my guess is that the POI you are using which is POI version 4 requires the apache compression library version 1.18 (the earlier versions do not have the InputStreamStatistics library). Immediately I added that into the project, the problem was gone, and poiji started working just as reliably as before.
I with respect subm

[2019-05-06 05:11] ghacupha commented on #83
Should you wish to not include it in the lib, you could add a note for users to add this version of apache compress into their project.

[2019-05-21 08:44] mian-muhammad opened #84 "Can we store data in a Set instead of list?"
I am trying something like this:

`Set<Employee> employees = Poiji.fromExcel(new File("employees.xls"), Employee.class);`

but it gives me error.

[2019-05-21 15:00] ozlerhakan commented on #84
you cannot save them into a set @mian-muhammad

[2019-06-16 07:38] #84 closed

[2019-06-16 07:39] ozlerhakan commented on #75
if you want, you can make a PR for that @vandanagoel

[2019-06-26 12:13] Himansu-Nayak opened #86 "Read a specific record from the sheet"
Hi,
Is it possible to set the start and end rows to read on a excel sheet. I don't want to read all record.

Regards,
Himansu

[2019-06-27 19:03] ozlerhakan commented on #86
Hı @Himansu-Nayak , feel free to make a PR for this feature.

[2019-06-27 19:04] ozlerhakan commented on #83
Hi @ghacupha , I am closing this issue for now, feel free to leave a comment

[2019-06-27 19:04] #83 closed

[2019-06-27 19:04] #75 closed

[2019-07-03 20:48] #86 closed

[2019-07-13 01:59] kingfisherphuoc opened #87 "Can we support min API < 26?"
Currently, this library supports android API >= 26 only. It's because of the `DateTimeFormmater` (if I do not recall it wrong). Can we use another class to support smaller API version?

@ozlerhakan

[2019-07-13 19:22] ozlerhakan commented on #87
Hi maybe you can use an older version of poiji for instance version 1.13. @kingfisherphuoc just give it a try

[2019-07-17 16:04] #87 closed

[2019-07-24 01:30] uqix opened #88 "Make it work with non public model classes?"

[2019-08-03 14:38] ozlerhakan commented on #88
#89 merged

[2019-08-03 14:38] #88 closed

[2019-08-07 16:08] breucode opened #91 "Parsing decimal value in other locales than "en" produces 0.0"
First of all, thank you for such a great library with lots of features, which are really helpful.

The following self-contained example demonstrates the error quite comprehensively:
https://gitlab.com/breucode/poiji-decimal-parsing-error

Just have a look at both of the unit tests. The difference in these tests is, that I try to parse the same file with different default locales.

When the locale

[2019-08-08 12:52] ozlerhakan commented on #91
Hi @breucode ,

Thank you for your support :)

do you have a solution to fix this problem?

[2019-08-08 12:58] breucode commented on #91
Hi @ozlerhakan,

no unfortunately, I don't have a solution for this. The problem is, that the bug I described is quite confusing. I saved an Excel file with a German mac and the file is only correctly parsed with the US locale. A fix in my application would be to hardcode the locale to US, but I wonder what causes the change in behavior, when a different locale is present.

[2019-08-14 11:43] adamwrprogrammertz opened #92 "Am getting this error that failed to process Poi, its like is not present"
Can you have any way i can use to fix this

[2019-08-14 11:49] adamwrprogrammertz commented on #92
This is an error I get when I want to run or build my App
Caused by: com.android.builder.dexing.DexArchiveBuilderException: Failed to process C:\Users\Duxte\.gradle\caches\modules-2\files-2.1\org.apache.poi\poi\4.1.0\66ea82c8e7cd87e9ae8bceca45daf01328c8d623\poi-4.1.0.jar

[2019-08-14 12:02] ozlerhakan commented on #92
Hi @adamwrprogrammertz ,

you can try other versions of poiji that contains an old poi version

[2019-08-15 21:09] adamwrprogrammertz commented on #92
how can i do that can you provide may be a link

On Wed, Aug 14, 2019 at 3:02 PM Hakan Özler <notifications@github.com>
wrote:

[2019-08-17 08:31] shubhamR1997 commented on #92
If you are doing in android then it's basically the problem in the latest version having an issue with dex. If you will try **version 1.20.0**  then everything seems to works perfectly.  Hope this will solve the issue.

[2019-08-26 13:39] Brutus5000 commented on #91
Hello there,

I' facing the same issue in my project. A potential solution might be to able to switch between the raw value of the cell and the textual formatted representation. Maybe with an annotation like `@RawValue`

[2019-08-28 21:21] #92 closed

[2019-08-28 21:23] ozlerhakan commented on #60
feel free to make a PR for this behavior

[2019-08-28 21:23] #60 closed

[2019-09-16 07:50] dellikilari commented on #10
Hi,
Am having the same problem, date is not properly converting.
below are the dates in xlxs file.
5/22/2019
5/24/2019
8/11/2019
And code is below.
		PoijiOptions options = PoijiOptions.PoijiOptionsBuilder.settings().datePattern("dd/mm/yy").build();
		List<User> projectionVos = Poiji.fromExcel(inputStream, PoijiExcelType.XLSX, User.class, options);

results:
Wed Jan 16 00:02:00 IST 2019
Thu Jan 17

[2019-09-16 07:50] dellikilari opened #93 "Date is not properly reading."
Hi,
Am having the same problem, date is not properly converting.
below are the dates in xlxs file.
5/22/2019
5/24/2019
8/11/2019
And code is below.
PoijiOptions options = PoijiOptions.PoijiOptionsBuilder.settings().datePattern("dd/mm/yy").build();
List projectionVos = Poiji.fromExcel(inputStream, PoijiExcelType.XLSX, User.class, options);

results:
Wed Jan 16 00:02:00 IST 2019
Thu Jan 17 00:04:00

[2019-09-17 05:48] mcolak opened #94 "Config from annotation"
Sheetname set through the annotaion, like @ExcellSheetName

[2019-09-17 14:16] ozlerhakan commented on #94
Hi @mcolak , you can set a sheet name using `PoijiOptions`

[2019-09-17 14:20] ozlerhakan commented on #93
Hi @dellikilari ,

Perhaps this test can help you out https://github.com/ozlerhakan/poiji/blob/master/src/test/java/com/poiji/deserialize/DeserializersDateRegexTest.java.

[2019-09-17 14:34] mcolak commented on #94
Yes, I can do it. But this will be more effective

[2019-09-17 18:20] ozlerhakan commented on #94
feel free to make a PR @mcolak , I would appreciate your work

[2019-09-26 16:28] thiyagu-7 commented on #94
I would like to work on this for Hacktoberfest if @mcolak is not

[2019-09-26 18:35] ozlerhakan commented on #94
Feel free to work on it @thiyagu-7 :)

[2019-09-28 09:34] hexmind commented on #91
I will fix it

[2019-10-01 07:27] hexmind commented on #91
Ready for review. https://github.com/ozlerhakan/poiji/pull/95

[2019-10-02 07:09] thiyagu-7 commented on #94
Hi @ozlerhakan

Should this annotation be used to indicate which sheet to process (like in `PoijiOptions.sheetName`) or include the current sheet name in the POJO as a field (like `@ExcelRow`)?

If it is the former, should this annotation be a class level annotation?

[2019-10-04 23:35] ozlerhakan commented on #94
this should be a class level annotation @thiyagu-7 yes

[2019-10-05 06:42] hariprasadkc commented on #32
@ozlerhakan Can I look into this ?

[2019-10-05 06:43] AvudaiM commented on #44
@ozlerhakan I would like to take this up.

[2019-10-05 07:52] ozlerhakan commented on #44
sure @AvudaiM :)

[2019-10-05 07:52] ozlerhakan commented on #32
sure @hariprasadkc :)

[2019-10-07 18:06] jigarWala commented on #32
Hey @ozlerhakan  I would like to work on this issue.

[2019-10-10 16:38] jigarWala commented on #44
Hey @ozlerhakan  can I take this one, If @AvudaiM  is not ?

[2019-10-12 09:51] gomahan opened #98 "Date parsing issue"
Date is parsed as two digit year which is causing issue while parsing dates. .

We need to set styles while readying the workbook for the dates

[2019-10-12 10:04] jigarWala commented on #98
did you checked PoijiOptions? you can set your own regex/style. Check if it's helpful.

[2019-10-12 23:20] gomahan commented on #98
I have tried writing the complete casting class. The problem the date is read from the excel using poi with two digit year .

As a workaround , I am now changed the column as text in excel and string in poiji annotation and formatted it latter

[2019-10-16 06:39] #91 closed

[2019-10-17 16:11] thiyagu-7 opened #99 "Poiji does not allow field with @ExcelRow to be present last"
The field with `@ExcelRow` cannot be present last among the instance variables in the model POJO.

Example: If the [row field](https://github.com/ozlerhakan/poiji/blob/8651cd835fa7c185304f5aa11dc162901aaed6bd/src/test/java/com/poiji/deserialize/model/byname/PersonByName.java#L12) is moved as the last instance variable, then [this test](https://github.com/ozlerhakan/poiji/blob/8651cd835fa7c185304f5

[2019-10-17 17:05] #94 closed

[2019-10-19 17:58] ozlerhakan commented on #93
feel free to open another issue for that case later

[2019-10-19 17:58] #93 closed

[2019-10-19 18:00] ozlerhakan commented on #98
do you want us to make an update for this case? @gomahan

[2019-10-19 18:01] ozlerhakan commented on #99
ah good one, so what do you suggest @thiyagu-7

[2019-10-19 18:02] #32 closed

[2019-10-19 18:03] ozlerhakan commented on #44
do you look at this issue @jigarWala ?

[2019-10-19 18:11] jigarWala commented on #44
Hi @ozlerhakan, nope I am yet to look into this issue.

I had initially thought of splitting this feature by specifying 2 options(in poijioptions)

1. Rows to read interval
2. Rows to skip after that read

Above points take into account that skip, and limit checks are done

Default values
Rows to read interval = infinite
Rows skip interval = 0

[2019-10-23 16:12] thiyagu-7 commented on #99
I haven't yet looked in depth. I'll see by this week :)

[2019-10-24 18:54] #99 closed

[2019-10-25 10:02] gomahan commented on #98
Actually I think its the issue with Apache poi .

The solution is described in the below link

https://stackoverflow.com/questions/53228302/poi-dataformatter-returns-2-digits-year-instead-of-4-digits-year-for-date-cells/53236531#53236531

[2019-10-25 22:49] wilds opened #103 "Compiler warnings"
The code has several warnings:
 - deprecated methods
 - raw type
 - unnecessary @SuppressWarnings
 - serializable class without serialVersionUID field

[2019-10-25 22:53] wilds opened #104 "Unable to parse LocalDateTime"
DefaultCasting class won't parse LocalDateTime type correctly

[2019-10-26 10:26] jigarWala opened #105 "columnToField maps not being utilized in current master"
We could return from [here](https://github.com/ozlerhakan/poiji/blob/master/src/main/java/com/poiji/bind/mapping/PoijiHandler.java#L104) If we know `valueSet` is already true But currently it's not the case. and this makes column map useless.

[2019-10-26 10:30] jigarWala commented on #105
we should also return `true` from [here](https://github.com/ozlerhakan/poiji/blob/master/src/main/java/com/poiji/bind/mapping/PoijiHandler.java#L141) if we know field is set

[2019-10-26 10:32] jigarWala commented on #44
I am working on this one, I'll raise PR by this weekend :smile:

[2019-10-27 07:06] thiyagu-7 commented on #105
Thanks for taking care of this. This behavior was inadvertently changed when intenting to loop through all fields.

I guess, we need to return if we enter inside [this if](https://github.com/ozlerhakan/poiji/blob/master/src/main/java/com/poiji/bind/mapping/PoijiHandler.java#L91) block (not only when `valueSet` is true)

It should look like

    if(columnToField.containsKey(column)) {
        Field

[2019-10-27 07:26] jigarWala commented on #105
Ahh yes, true, inside  this if block `valueSet`  will always be true. I'll change this behavior in #106

and about  the change in `setValue` function  it will scan other fields column index(if column name then from title map) in one scan which will be more efficient.

[2019-10-27 07:31] jigarWala commented on #105
yes, I'll patch it.

I felt this change compliment well with this issue thus accommodating it in the #106  and not creating new one.

[2019-10-27 07:36] thiyagu-7 commented on #105
Thanks.

I did not look in depth on the implications of this. Go ahead as you see fit

[2019-10-27 08:46] jigarWala commented on #105
done :+1:

Well I haven't found any test that will prove this wrong. If you find please let me know :smile:

The change inside `setValue(Field field, int column, String content, Object ins)` read all the column's annotation (ExcelCell/ExcelCellName) that poiji want's to read in one scan. much helpful if there are many columns.

Thanks.

[2019-10-29 10:39] petromir opened #107 ""Zip bomb detected!" error during parsing of xlsx file"
I got the following error when I try to parse one `xlsx` file:

[code]

As the errors suggests we can adjust this limit via `ZipSecureFile.setMinInflateRatio()`, but I don't see how this settings can be passed to Poiji parser.

[2019-11-01 19:30] acuciureanu opened #108 "Can a number which contains decimal comma be transformed correctly?"
I have the following problem with Poiji:

A small XLSX table:

| MyType  | Count |
|---------|-------|
| Unknown | 1,234 |

[code]
The value of the "count" property becomes "1,2,3,4" instead of "1,234" (its type is String)

If the `count` field has the type `Integer` or `int` then the output is the following:

Is there anything else I have to do for getting this right?

[2019-11-02 02:40] #108 closed

[2019-11-02 13:35] acuciureanu commented on #108
I resolved the problem with a Casting implementation.

[2019-11-06 12:09] petromir commented on #107
Seems like `ZipSecureFile.setMinInflateRatio()` can be set as a global setting, so it's not relevant to the provided `Poiji` configuration classes

[2019-11-06 12:09] #107 closed

[2019-11-11 17:35] #105 closed

[2019-11-11 17:37] ozlerhakan commented on #98
feel free to open up a PR @gomahan

[2019-11-11 17:37] #98 closed

[2019-11-11 17:41] ozlerhakan commented on #44
we can think of this option later again when we get more requests

[2019-11-11 17:41] #44 closed

[2019-11-11 17:42] ozlerhakan commented on #63
no @4sujittiwari

[2019-11-11 18:18] #63 closed

[2019-11-11 18:34] ozlerhakan commented on #103
#100 merged!

[2019-11-11 18:34] #103 closed

[2019-11-11 18:34] ozlerhakan commented on #104
#101 merged!

[2019-11-11 18:34] #104 closed

[2019-11-21 09:55] umang4846 opened #110 "java.lang.NoSuchMethodError: org.apache.poi.ss.usermodel.Cell.getCellType()"
**Runtime Error while Converting .xls file to POJO Class**
**Poiji v2.2.0 Apache Poi v3.15**
**Log**

java.lang.NoSuchMethodError: org.apache.poi.ss.usermodel.Cell.getCellType()Lorg/apache/poi/ss/usermodel/CellType;
	at com.poiji.bind.mapping.HSSFUnmarshaller.isRowEmpty(HSSFUnmarshaller.java:188) ~[poiji-2.2.0.jar:na]
	at com.poiji.bind.mapping.HSSFUnmarshaller.unmarshal(HSSFUnmarshaller.java:61)

[2019-11-22 06:12] ozlerhakan commented on #110
duplicate https://github.com/ozlerhakan/poiji/issues/64

[2019-11-22 06:12] #110 closed

[2019-11-26 15:33] Brutus5000 opened #111 "v2.2.0 Regression: @ExcelRow handling has changed for empty rows"
## Sample data:
Imagine you have the following excel sheet:

| First Header  | Second Header |
| ------------- | ------------- |
| _null_ | _null_ |
| First Row  | Content Cell  |
| Second Row  | Content Cell  |

## Previous behavior
Up to version 1.22.0 the RowIndex would have been:
1: unused (for null row)
2: for First Row
3: for Second Row

## New behavior
With 2.2.0 this behavior has changed!

[2019-11-27 14:14] bitbythecron opened #112 "Feature Request: Serialize back to Excel"
I recently had a project where I needed to deserialize an Excel spreadsheet into a list of POJOs, process that list, and then write that list _back_ into another Excel file.

I was **very** impressed with this library's capabilities and use of annotation processing, etc. However I had to pass on it because it didn't offer serialization & write from the list of POJOs --> Excel.

Is this a feature t

[2019-11-28 09:35] emli opened #113 "Import Complex Object"
[Расписание шаблон.xlsx](https://github.com/ozlerhakan/poiji/files/3900919/default.xlsx)

Hi,
How I can create DTO object for this file ? It's seems hard to read this kind of files

[2019-11-30 21:20] ozlerhakan commented on #112
thank you for using poiji @bitbythecron , you're free to make this feature enable for poiji :)

[2019-11-30 21:21] ozlerhakan commented on #111
are you sure about this?

[2019-11-30 21:22] ozlerhakan commented on #111
but it make sense the null rows are not counted

[2019-11-30 21:24] ozlerhakan commented on #113
Hi @emli ,

take a look at https://github.com/ozlerhakan/poiji#example-5 could help for some cases maybe

[2019-11-30 21:24] #113 closed

[2019-12-01 08:32] Brutus5000 commented on #111
So I am running a lot of validations on each row and we are talking about hundreds, sometimes thousands of rows.
In case of an error I return the line number which exactly matches the shown row index of Excel, so he can just go there and fix the error .
And there may be reasons that the user has empty lines in there. So if this happens the reference line of my error message no longer matches the "

[2019-12-02 14:43] breucode commented on #111
As the annotation is called @ExcelRow, this behavior is very confusing. I would also suggest, that there is a separate annotation with a different naming for counting non-null rows.

[2019-12-03 09:45] breucode commented on #111
I'm currently working on this.

[2019-12-03 18:39] ozlerhakan commented on #111
thank you @breucode

[2019-12-04 11:45] breucode commented on #111
This was actually a regression, like originally expected. If you revert the the PoijiHandler class to the version of 2.2.0, you see, that one of the two new unit tests fails.

[2019-12-07 08:22] #111 closed

[2019-12-07 08:41] ozlerhakan commented on #112
did you start doing @bitbythecron ?

[2019-12-12 14:14] Brutus5000 opened #118 "Is the default DateFormatter pattern correct?"
I am working on German locale so it might not be a real issue, but parsing dates into java.time.LocalDate fails because of a mismatch in the default DateFormatter pattern.

The default DateFormatter pattern in poiji is `dd/M/yyyy`.
However the matching pattern that I get from poi would be `d/M/yy` (e.g. 1/1/20).

Can somebody confirm that the default also does not match on english locale?
I have f

[2019-12-13 06:33] ozlerhakan commented on #112
feel free to comment here when you start it @bitbythecron

[2019-12-13 06:33] #112 closed

[2020-01-01 20:27] ozlerhakan opened #120 "add contributors"
@all-contributors bot

[2020-01-01 20:28] ozlerhakan commented on #120
@all-contributors please add @Brutus5000  for contributions

[2020-01-01 20:29] ozlerhakan commented on #120
@all-contributors please add @Brutus5000 for design

[2020-01-01 20:34] ozlerhakan commented on #120
@all-contributors please add @brunslo  for design

[2020-01-01 20:37] #120 closed

[2020-01-08 10:31] RobertoPelonara opened #123 "What about column mapping?"
Poiji is a great library for mapping object row based, but what about column mapping?

Maybe I simply missed the way of do it, or maybe it's not possible at all

EDIT:
![image](https://user-images.githubusercontent.com/13091425/71971563-2715f180-320b-11ea-8f5d-dd5a72fc6e8d.png)

I have this kind of structure and I'd like to map each column in a seperate object taking the first column as "header"

[2020-01-10 06:03] ozlerhakan commented on #123
good idea @RobertoPelonara , we can implement this feature. If you want you can take it as well

[2020-01-17 10:33] vaa25-digis opened #124 "Case insensitive column names option"
Could you add support of case insensitive column names option please?

 **Example**:

Option:

```PoijiOptions.PoijiOptionsBuilder.settings().caseInsensitive(true);```

Excel table:

| ID     | NamE   |
|--------|--------|
| 123923 | Joe    |
| 123123 | Sophie |
| 135923 | Paul   |

Class:

[code]

Result:

```Employee{employeeId=123923, name='Joe'}```

[2020-01-17 11:18] ozlerhakan commented on #124
Hey @vaa25-digis ,

sounds great! we can implement it.  you can implement it as well

[2020-01-17 11:19] ozlerhakan commented on #72
Hi @VanOvermeire , I'm sorry that I couldn't  look it. Do you have the same problem again?

[2020-01-17 11:20] ozlerhakan commented on #118
Hi @Brutus5000 , I think we can close this issue. If we have more comment on it, we can open the question again

[2020-01-17 11:20] #118 closed

[2020-01-17 12:19] VanOvermeire commented on #72
Haven't touched the code since last year, so the workaround is still in place. I assume the problem is still the same, but did not check.

[2020-01-18 14:31] vaa25 commented on #124
@ozlerhakan I have cloned this repository and implemented feature in new branch. How to make pull request? I can not push new branch.

[2020-01-19 08:37] ozlerhakan commented on #124
Hi @vaa25-digis , you can create a pull request on the 2.5.0 branch (https://github.com/ozlerhakan/poiji/tree/2.5.0)

[2020-01-26 10:33] ozlerhakan commented on #124
now we're able to do this 🎉

[2020-01-26 10:33] #124 closed

[2020-01-29 15:56] Avinash-123 opened #126 "ExcelCellName does not work if the excel header has a leading or trailing whitespace"

[2020-01-31 05:57] vaa25 commented on #69
@ozlerhakan could support of excel writing function be added in Poiji?

[2020-02-01 06:29] vaa25 opened #127 "Add saving"
Could you add support of saving please?

 **Example**:

Class:

[code]

Command:

```Poiji.toExcel(new File(), Employee.class, List<Employee> data);```

Result excel table:

| id    | name   |
|--------|--------|
| 123923 | Joe    |
| 123123 | Sophie |
| 135923 | Paul   |

[2020-02-01 06:50] vaa25 opened #128 "Unblock multithreaded calls"
Current implementation has `synchronous` modifier on every _fromExcel_ method in Poiji class. If we parse huge files with heavy custom Consumers from different threads every file processing could take much time and other threads will be blocked.

Poi [says](https://poi.apache.org/help/faq.html): 'Handling different document-objects in different threads will work.'

And Poiji uses new Unmarshaller

[2020-02-02 11:05] ozlerhakan commented on #128
so we don't need `synchronous ` am i right? @vaa25

[2020-02-02 11:05] ozlerhakan commented on #128
so we don't need `synchronous ` am i right? @vaa25

[2020-02-02 11:06] ozlerhakan commented on #127
Feel free to make a PR for this feature @vaa25

[2020-02-02 11:06] vaa25 commented on #128
@ozlerhakan we need to write tests to be sure

[2020-02-02 11:08] ozlerhakan commented on #126
feel free to make a PR @Avinash-123

[2020-02-02 20:05] vaa25 commented on #127
@ozlerhakan Make branch for pr please

[2020-02-02 20:14] ozlerhakan commented on #127
https://github.com/ozlerhakan/poiji/tree/2.6.0 is available now @vaa25

[2020-02-07 06:58] vaa25 opened #130 "Add multiple column names support"
Could you add support of multiple column names please?

 **Example**:

Class:

[code]
_Writing:_

Result excel table:

| id,identifier    | name   |
|--------|--------|
| 123923 | Joe    |
| 123123 | Sophie |
| 135923 | Paul   |

_Reading:_

Source excel table:

| id,identifier    | nick   |
|--------|--------|
| 123923 | Joe    |
| 123123 | Sophie |
| 135923 | Paul   |

Result:

Employee{employee

[2020-02-07 18:13] ozlerhakan commented on #130
Hi @vaa25 , this gives us performance issues while searching the name in the available names.

[2020-02-07 18:13] #130 closed

[2020-02-07 18:16] ozlerhakan commented on #126
I'm closing the issue, feel free to leave comments and you can create a PR for that

[2020-02-07 18:16] #126 closed

[2020-02-07 21:49] vaa25 commented on #130
@ozlerhakan why do you think so? all names are stored in the map. In example case it would be
{
"id,identifier": 0,
"name": 1,
"title": 1,
"nick": 1
}
So mapping from excel takes O(1) - same as without this feature.

[2020-02-08 16:42] vaa25 commented on #130
@ozlerhakan feature is implemented. No any performance issues found nor reading nor writing.

[2020-02-09 00:07] vaa25 commented on #128
@vaa25 tests have been added in #129 . Thread-safe reading confirmed.

[2020-02-09 00:11] vaa25 opened #133 "CSV"
Please add support of reading and writing in csv format files.

[2020-02-09 18:17] bsungur opened #134 "File handle is left open on XLS"
When using `fromExcel ` with an XLS `File` the file is left open after Poiji has returned the list of objects.

In my use case, I was not able to save changes to the Excel workbook while my application was running, after Poiji accessed the file.

[2020-02-09 19:06] bsungur commented on #134
According to POI Javadoc https://poi.apache.org/apidocs/dev/org/apache/poi/ss/usermodel/WorkbookFactory.html#create-java.io.File-java.lang.String-boolean-

[2020-02-10 19:02] ozlerhakan commented on #134
thanks @bsungur , we'll add this case for 2.6.0.

[2020-02-10 19:02] #134 closed

[2020-02-10 19:22] ozlerhakan commented on #133
poiji is responsible for only excel files @vaa25

[2020-02-10 19:22] #133 closed

[2020-02-12 10:32] cronosnn opened #137 "Stream Closed exception during parse several sheets"
Hi,
I'm trying to parse several sheets from one excel file and faced with problem

my code:
[code]
and example form MainSheet.parse():
[code]

Can you provide example in Readme how to handle several sheets?

[2020-02-18 16:49] Muszashi opened #138 "Getting raw data"
Hi Guys, it is more like a change request.

It would be nice to have an option to be able to get not only the visible data but the underlying raw data as well.

Like I have a numeric field, the visible content is: 0.1118 however the raw, underlying data is 0.111758. The data I got back is 0.1118 however I would need the whole raw data.

Thank you in advance,

Ps: Very useful library.

[2020-02-20 13:47] cronosnn opened #139 "Merged cells: null value for all cells except first one"
Hi
I've receive null value fol all cells except first one in case that cells are merged.
Do you have option to configure it or?

Thanks in advice.

[2020-02-20 17:47] ozlerhakan commented on #139
Hi @cronosnn ,

Could you  please elaborate more about the case you have encountered with examples?

[2020-02-20 17:49] ozlerhakan commented on #138
Hi @Muszashi ,

Thank you for the suggest first. In which excel file type (xls or xlsx) you need this case?

[2020-02-20 17:50] ozlerhakan commented on #137
Hi @cronosnn ,

I'll take a look at this exception, thank you!

[2020-02-25 08:55] Muszashi commented on #138
Thank you for the quick response.

In my case it would be xlsx file type

[2020-03-06 11:53] cronosnn opened #140 "No record in Map in case ExcelUnknownCells and empty value"
Hi I have a excel:

-----------------------------------------------------------------
| Scenario | Description | Column 1 | Column 2 | Column N |
-----------------------------------------------------------------
| Scen1     | Descrip1      | col1          | col2         | colN          |
-----------------------------------------------------------------
| Scen2     | Descrip2      | col1.2       |

[2020-03-06 12:04] cronosnn commented on #139
Hi

Hi I have an excel:

------------------------
| Scenario | Test Case |
------------------------
|                | tc1           |
|  Scen1    | ---------- |
|                | tc2           |
------------------------

And use class
public class MainSheetRecord {
    public static final String SCENARIO = "Scenario";
    public static final String TESTCASE= "Test Case";
    @ExcelCellName(SCENA

[2020-03-06 12:29] cronosnn opened #141 "How to use LinkedHashMap in case of ExcelUnknownCells"
Hi, I have following:
[code]
How to use LinkedHashMap for otherCells?
if I try
`private LinkedHashMap<String, String> otherCells;`
then I see exception :
`java.lang.IllegalArgumentException: Can not set java.util.LinkedHashMap field MainSheetRecord.otherCells to java.util.HashMap`

[2020-03-08 13:33] ozlerhakan commented on #141
Hi @cronosnn , we cannot cast superclass (`HashMap`) to subclass (`LinkedHashMap`) . You should use `Map` or `HashMap` with `@ExcelUnknownCells`

[2020-03-08 13:33] #141 closed

[2020-03-08 13:37] ozlerhakan commented on #140
Hi @cronosnn ,

Since MainSheetRecord[1] doesn't have `Column 2`, you can check the otherCells using `containsKey` whether the column name (key) exists ot not.

[2020-03-08 13:37] #140 closed

[2020-03-08 13:39] ozlerhakan commented on #139
Hi @cronosnn ,

You can use CustomCasting. If the value for the field is of type `String`, you can set a default value (in your case is `"Scen1"`)

[2020-03-08 13:39] #139 closed

[2020-03-08 13:40] ozlerhakan commented on #138
Hi @Muszashi , could I have an example excel file for this case?

[2020-03-10 09:23] cronosnn commented on #141
How can I receive `otherCells` in order as I see it in Excel file?

[2020-03-10 09:29] cronosnn commented on #140
Hi @ozlerhakan,

Yes
[code]

[2020-03-16 11:43] cronosnn opened #142 "Get all columns name of @ExcelUnknownCells"
Hello,

I have Excel file with 6000+ records.
I know name only 2 first columns and I know that all cells in those columns are non empty.
But for all other columns I don't know count of them and names. Also cells in those columns can be empty.
my classes:
[code]
So, after parsing excel I have List<SheetRecord> with size 6000+
How can I know names of all columns for @ExcelUnknownCells?
maybe somethi

[2020-03-16 11:46] cronosnn commented on #142
One more question, how can I get @ExcelUnknownCells in the same order how I see it in Excel file?

[2020-03-16 15:46] ozlerhakan commented on #142
Hi @cronosnn ,

Could this example solve your problem https://github.com/ozlerhakan/poiji#example-8 ?

This is not available with Poiji. We need to implement it with `LinkedHashMap` in order to do so.

[2020-03-16 15:47] ozlerhakan commented on #138
feel free to leave a comment, we can open it again

[2020-03-16 15:47] #138 closed

[2020-03-23 12:19] cosyman commented on #127
Looking forward to the release of this feature

[2020-03-23 13:14] vaa25 commented on #142
@cronosnn

`otherCells.keySet()` ?

[code]

[2020-03-24 08:45] cronosnn commented on #142
Thank you, I'm going to check till the end of this week

[2020-04-03 14:59] eborisow opened #143 "Casting isn't working when the type is set to xls - works with xlsx"
Basically, I just overrode the withCasting option on PoijiOptions for an xls file and it doesn't call the method.  Switching the exact code to an xlsx file and type worked perfectly fine.

[2020-04-04 20:11] #142 closed

[2020-04-08 12:53] pswati36 opened #144 "Can file name and sheetname be mapped to one of the field in POJO?"
Can file name and sheetname be mapped to one of the field in POJO?

[2020-04-10 07:45] Saurabh-Pakhare commented on #137
Hi @ozlerhakan , this is much needed, can you please update on the same?

[2020-04-19 16:44] ozlerhakan commented on #144
poiji does not support this option @pswati36 since you need to specify file or sheet name via PoijiOptions you can add them programmatically.

[2020-04-19 16:44] #144 closed

[2020-04-19 17:44] ozlerhakan commented on #143
It looks like it works well on the xls files as well @eborisow:

[code]

What was the steps you produced?

[2020-04-19 20:48] ozlerhakan commented on #137
Hi @cronosnn , and @Saurabh-Pakhare ,

Apache Poi internally closes the stream after using it. So we need to copy the stream for each poiji consumer or you need to create a stream for each poiji usage.
So you do something like this:
[code]

[2020-04-19 20:50] ozlerhakan commented on #123
if any request is needed we can start implementing it so currently it's a nice-to-have

[2020-04-19 20:50] #123 closed

[2020-04-20 09:39] chinmay1994 opened #146 "Unable to identify error cell while using default casting"
Hi,
I want to find out the location of the cell with a type mismatch. When I set `errorLoggingEnabled` to true in the `DefaultCasting()` constructor and pass it to the `withCasting` method of PoijiOptions, I encounter the following issues:
1. The row and column are always populated with -1. I checked in the `PoijiHandler.java` file, the `casting.castValue()` method is called without the row and co

[2020-04-21 16:29] sarathchand09 commented on #30
hi, is this resolved? do we have a way to extract headers into java

[2020-04-21 17:29] ozlerhakan commented on #146
Hi @chinmay1994 ,

You're right, we'll fix this.

how can I reproduce this issue?

[2020-04-21 17:30] ozlerhakan commented on #143
feel free to leave a comment, we can look at it again.

[2020-04-21 17:30] #143 closed

[2020-04-21 17:31] ozlerhakan commented on #137
feel free to leave a comment. We can look at it again if you need any problem about it.

[2020-04-21 17:31] #137 closed

[2020-04-21 17:32] ozlerhakan commented on #128
Hi @vaa25 , why you close the pr?

[2020-04-21 17:33] ozlerhakan commented on #127
let's think if again, feel free to +1 if you need this feature, otherwise it's just a nice-to-have.

[2020-04-21 17:33] #127 closed

[2020-04-21 18:00] chinmay1994 commented on #146
Hi @ozlerhakan ,

Appreciate the quick reply.

To reproduce this issue, you can create a pojo with an Integer field and try to set a String value to it via the excel file. You'll see that that the NumberFormatException is added twice to the `errors` list in the `DefaultCasting` implementation.

I debugged this issue, my findings are as follows:
When the `containsKey` method is checked in the [colu

[2020-04-21 18:48] ozlerhakan commented on #146
now released with 2.6.0 thanks @chinmay1994

[2020-04-21 18:48] #146 closed

[2020-04-21 18:48] ozlerhakan commented on #72
we display `no excel sheets found` with version 2.6.0.

[2020-04-21 18:48] #72 closed

[2020-04-21 19:15] vaa25 commented on #128
Hi @ozlerhakan , you have no time to maintain project, so I have published my improvements in my repository

[2020-04-21 21:03] ozlerhakan commented on #128
We can at least look at this task if you are willing , otherwise that's all fine.

[2020-04-22 07:41] deivanayagis opened #149 "Casting with different datatypes"
Hi Can you help me with different casting for different datatypes?

1. Eclipse is throwing error if I am not adding either of the following methods to my cast class
`package Reports.ReportsAutomationProject;

import com.poiji.config.Casting;
import com.poiji.option.PoijiOptions;

public class ReportCast implements Casting {

	@Override
	public Object castValue(Class<?> fieldType, String value,

[2020-04-22 08:12] ozlerhakan commented on #149
Hi @deivanayagis ,

1. could you please use the latest version of poiji which is 2.6.0, we not have one castValue method.
2. you can give a default value for each field e.g. https://raw.githubusercontent.com/ozlerhakan/poiji/master/src/test/java/com/poiji/deserialize/model/byid/Employee.java for the name field.

[2020-04-23 08:23] #128 closed

[2020-04-24 15:53] evaldeslacasa opened #150 "Dates with an incomplete format in .xlsx file are not being parsed."
Hello @ozlerhakan.

Thanks a lot for Poiji, it's been of great use so far!

Now, I ran into an issue while using it (although I'm not sure if it's really an issue, or just the way .xlsx stores the information). I upgraded to the latest version (2.6.0) to see if maybe the problem/issue went away, but I'm still experiencing it.

Here is the thing: if you see the .xlsx file I attached, it has three c

[2020-04-25 08:51] ozlerhakan commented on #149
feel free to leave a comment if you have a problem

[2020-04-25 08:51] #149 closed

[2020-04-25 13:23] ozlerhakan commented on #150
Hi @evaldeslacasa ,

Thanks for using poiji and find it useful :)

About your case, I looked at the problem. Here is the default XFS format for the style apache poi uses internally when we directly use the excel file with poiji:

[code]

And after doing these steps:

[code]
Here you see that the `numFmtId` value for both is changed 22 and 47 respectively. These are the indexes of the builtin forma

[2020-04-28 19:29] evaldeslacasa commented on #150
Hello @ozlerhakan,

Thanks for the detailed reply and the insights! My apologies for not being able to reply earlier. I'm in the middle of a busy project and can't attend much outside of it, but I'll try to sqeeze time along.

Correct me if I'm wrong in my knowledge of the issue and possible solution:

- Apache POI uses indexes for each date format, and the index (`numFmtId`) is fixed by the forma

[2020-04-29 11:26] breucode opened #151 "Add reading fields from custom properties (metadata)"
Currently, it is not possible to read meta data from an excel file (example here: https://stackoverflow.com/questions/43796819/how-to-write-metadata-into-excel-workbooks-using-apache-poi-in-java).

This would be very helpful for one of our use cases.

Would it be ok for you, if we provided a PR for this feature @ozlerhakan ?

I would propose a separate option for the PoijiOptions object and then g

[2020-04-29 18:17] ozlerhakan commented on #151
Hi @breucode ,

Feel free to make a PR, it's all fine to contribute the project.

[2020-05-01 21:48] ozlerhakan commented on #150
Hi @evaldeslacasa ,

You can able to override the default format of a specific index using 2.7.0 :)
Please look at the feature 10 and feature 11 sections on README

thank you for your help! leave a comment if you have any questions.

[2020-05-01 21:48] #150 closed

[2020-05-02 19:31] evaldeslacasa commented on #150
Thanks to you @ozlerhakan! I'll reach out when I use the option in the newer version.

Best regards.

[2020-05-13 08:25] grolex18 opened #155 "Format-independent date parsing"
In Excel format date is stored as simple Numeric value.
Is there a way to read it as a Date field regardless of the format/locale?
Looks like under the covers poiji extracts String value from Cell first and then parses it to java Date, if required. And Casting/formatters customizations work on top of String values anyway.

But what if I can't stick to some specific format/locale and need consisten

[2020-05-13 08:46] ozlerhakan commented on #155
Hi @grolex18 ,

could you please look at the feature 10 and feature 11 on README. you could debug and see the default cell format of each cell and you can event override formats with an user specific parsing format. Moreover, you can look at the text cases for `datePattern` and `dateTimeFormatter` on poijioptions.

[2020-05-13 09:42] grolex18 commented on #155
Hi @ozlerhakan,
Thanks for your quick reply!
Looks like feature 10 is more about debugging and 11 suggests adding all possible pairs of format number and pattern?
Is it the only option to extract the date in a consistent way?
It might be hard and unreliable to hard-code all possible locales/cases with this approach.

It's quite simple and unambiguous with plain POI, though:
org.apache.poi.ss.userm

[2020-05-13 11:02] ozlerhakan commented on #155
If I understand you clearly, once you get the string value of a cell, you can convert it to date as well in poiji e.g. https://github.com/ozlerhakan/poiji/blob/81f0ab2fc92705a2bfcfeb9fc38cccb7d58ccb14/src/main/java/com/poiji/config/DefaultCasting.java#L228.

Do I miss something?

[2020-05-13 14:06] grolex18 commented on #155
The concept of Casting works on top of already formatted string cell representation that makes its further decoding into java Date dependant on cell format/style/localization. It means you need to have all format/style/localization info in Casting.castValue to revert it back correctly. E.g. you don't exactly know if "2/1/20" means "2 Jan 2020" or "1 Feb 20". Even though in the source it was define

[2020-05-13 15:17] grolex18 commented on #155
For example, now I have these formats in the some document:
`<numFmt numFmtId="166" formatCode="M/D/YYYY"/>`
`<numFmt numFmtId="169" formatCode="DD/MM/YYYY"/>`

They were added based on changing cell format locales.
numFmtId-s are purely custom for this document, am I right?
So next time ids could be different and I'd have to somehow reflect them in my code every time.

[2020-05-13 19:21] ozlerhakan commented on #155
a user-defined custom format starts at 164 see: https://github.com/apache/poi/blob/cafe7639c2168a14b72bef738150cbcfa91e56ca/src/ooxml/java/org/apache/poi/xssf/model/StylesTable.java#L79

and there can be up to 250 formats in an excel file:

https://github.com/apache/poi/blob/cafe7639c2168a14b72bef738150cbcfa91e56ca/src/ooxml/java/org/apache/poi/xssf/model/StylesTable.java#L86

I guess so

[2020-05-15 08:25] deivanayagis commented on #149
Thank you. It worked.

[2020-05-19 16:00] evaldeslacasa commented on #155
Hello @ozlerhakan!

You'll remember me from Issue #150. I hadn't been able to play with the latest features 10 and 11 until now, so I didn't reached out.

I write here because I can relate to @grolex18 comment about overriding date formats.

When I do this, I'm telling Poiji to override a specific numFtId with my format...but Excel files could provide cells in different formats, so it would be pai

[2020-05-20 15:42] grolex18 commented on #155
Open office (and Excel, probably also) can add custom formats for dates with some random ids, so it's not feasible to cover this case having only string representation and formatId-based configs at all.
It looks like it's a big deal in the framework itself.
Thanks for your help anyway!

[2020-05-20 15:42] #155 closed

[2020-05-21 05:17] ozlerhakan commented on #21
we can open it up until we receive any other issue with this

[2020-05-21 05:17] #21 closed

[2020-05-23 00:51] muzamilhaq opened #156 "Error when cratea XSSF"
when i create XSSF it keep show error like this

[code]

this my code
[code]

[2020-05-24 14:59] ozlerhakan commented on #156
Hi @muzamilhaq ,

Could you please look at other related issues? Those could help you out #64 , #110 , #54, #23.

[2020-05-24 14:59] #156 closed

[2020-05-25 12:10] ozlerhakan commented on #151
thank you @breucode , merged the code! you can use 2.8.0 now for the property feature

[2020-05-25 12:10] #151 closed

[2020-05-25 12:12] breucode commented on #151
Great, thanks!

[2020-06-02 06:45] westontan opened #158 "data check support"
Is it possible to support "data check" feature?
(1) bean validation
(2) unique constraint - unique value in a column

Thanks!

[2020-06-02 07:00] westontan commented on #158
![image](https://user-images.githubusercontent.com/3642707/83489880-b6d17a80-a4e1-11ea-8c83-7cd8f45a24c6.png)

[2020-06-02 09:24] ozlerhakan commented on #158
does https://github.com/ozlerhakan/poiji#feature-9 solve your need @westontan ?

[2020-06-03 03:42] westontan commented on #158
Totally not
Take the picture I uploaded as an example:
There are four properties annotated with @NotBlank, which means the value of them are not allowed to leave blank.
Assume now we have an excel file containing a row that violate @NotBlank constraint.
With bean validation feature, when Poiji.fromExcel is invoked, a ConstraintViolationException would be thrown.

[2020-06-03 03:52] westontan commented on #158
unique constraint means a unique value of a column in each row must be ensured.

[2020-06-03 06:17] ozlerhakan commented on #158
Sorry I pointed out totally different feature. I see now, we can take a look at it. Also if you want to make it possible, PR is always welcome

[2020-06-08 17:55] Brutus5000 opened #159 "LibreOffice compatibility issue with Boolean"
There is a nasty bug in combination of Poiji and LibreOffice boolean values.

I have a use case where I use Apache POI to write an Excel sheet with several boolean columns. When I reimport the file without touching it, everything is fine.
When I reimport after editing it with Microsoft Excel everything is fine.
When I reimport after editing it with LibreOffice calc all boolean values are casted to

[2020-06-08 19:16] Brutus5000 commented on #158
I would not recommend to put this into Poiji due to separation of concerns. You can apply any validation rules onto the beans and validate it after deserializing with Poiji (e.g. in a project we use Spring validation).

[2020-06-09 01:34] westontan commented on #158
The reason why Poiji need to add this as a built-in feature is that javax.validation.ConstraintViolation.getPropertyPath() would return the bean property name instead of the value of @ExcelCellName

[2020-06-11 06:22] superigno opened #161 "Unable to correctly convert negative numbers with parentheses"
I tried to convert a cell with a negative number in parentheses. ie: (1234) instead of -1234.

It returns 0 when I use a BigDecimal:
[code]
Returns: 0

----

So I tried a workaround by using String as type:
[code]
Which basically returns (1234), but then I have to remove the parentheses and convert this to a negative BigDecimal, which I find a bit of a hassle.

Am I missing something?

[2020-06-12 04:59] ozlerhakan commented on #161
Hi @superigno , could you share an excel file we can look?

[2020-06-15 05:24] superigno commented on #161
Please see: [Test.zip](https://github.com/ozlerhakan/poiji/files/4778127/Test.zip)

![image](https://user-images.githubusercontent.com/4880653/84620772-3157bc80-af1c-11ea-8bbd-5c63fa9d67e7.png)

[code]
[code]

Output:
123.00
25.00
0
0

[2020-06-16 15:54] gvh1234 commented on #158
If you use Hibernate Validator you can put a message in the constraint annotation for each field. You then use a great validation system and not compromise this code.

[2020-07-01 19:12] #159 closed

[2020-07-01 19:16] ozlerhakan commented on #158
seems like it's not a obligatory and necessary approach for poiji, feel free to talk more about on this topic. we can look at it later again

[2020-07-01 19:16] #158 closed

[2020-07-09 08:35] acyuta1 opened #162 "Can I use poiji to write data into Excel?"
Thankyou so much for this amazing library. Just wanted to ask, can this be used to write object data into a file? (Xlsx or csv)?

[2020-07-10 05:22] ozlerhakan commented on #162
Hey @acyuta1 ,

Thank you so much :) poiji does not support "toExcel" , feel free to make this possible via PR if you want it

[2020-07-10 19:57] #162 closed

[2020-07-13 13:48] gvh1234 opened #163 "PoijiHandler.cell() is not ignoring earlier header lines when using PoijiOptions .headerStart(1)"
[As discussed elsewhere](https://github.com/ozlerhakan/poiji/pull/115#issuecomment-657495569), if you set .headerStart(1) in PoijiOptions I would expect everything on the top line to be ignored and the headers started on the second line.
However I think that PoijiHandler.cell() is pulling in line zero into the headers because of the _if_ statement on line 205.

This is an example of the sheet I ha

[2020-07-14 12:36] ozlerhakan commented on #163
Hi @gvh1234 ,

Thank you for bringing this up. feel free to make a PR for that change :)

[2020-07-15 14:51] fernando1983github opened #164 "Excel file without headers, skipping first line"
We are trying to use the library on an excel without headers(We set a template for download to show the way its meant to be used, but apparently thats not what they have in mind), but we saw in the code, that no matter what, the first row is always ignored because of the hardcoded `+ 1`, there´s no way we can set `skip` or `headerStart` as negative cause an exception is thrown. Is there an option

[2020-07-15 20:03] ozlerhakan commented on #164
Hi @fernando1983github ,

Normally, every excel file must contain a header row, so we need to change this behavior to make it possible

[2020-07-16 11:53] shraddhamehetre10 opened #165 "com.poiji.exception.PoijiInstantiationException: Cannot create a new instance of aadhar.StudentInfo"
Hi there,

I am getting com.poiji.exception.PoijiInstantiationException. when i use Poiji.fromExcel with a fileinput stream. i have attached the project with excel i am using. could you please take a look ?
[aadhar.zip](https://github.com/ozlerhakan/poiji/files/4931262/aadhar.zip)

[2020-07-17 04:59] ozlerhakan commented on #165
Hi @shraddhamehetre10 ,

Could you please share your project on GitHub? I can look at it over there

[2020-07-17 15:01] ozlerhakan commented on #163
the fix will be ready on 3.0.0

[2020-07-17 15:01] ozlerhakan commented on #164
the fix will be ready on 3.0.0

[2020-07-17 15:05] gvh1234 commented on #163
Sorry, ran out of time this week and am on holiday next week

thanks for taking a look

On Fri, 17 Jul 2020 at 16:01, Hakan Özler <notifications@github.com> wrote:

[2020-07-17 15:28] ozlerhakan commented on #161
Hey @superigno ,

After debugging I have found that we have the value like "(50)" but in the default casting procedure, we cannot cast string as "(50)" to bigdecimal.  There are 2 options here,

1. you can enable logging using `new DefaultCasting(true)` in the PoijiOptions and see all errors during mapping using `getErrors() of the casting class`.
2. You can implement your own custom casting class

[2020-07-17 17:00] fernando1983github commented on #164
Hi @ozlerhakan, wasn't able to respond. That's great news, thanks for the immediate response, looking forward to it.

[2020-07-19 11:53] ozlerhakan commented on #161
In addition to my previous comment, you can use poiji 3.0.0 to parse the number cells using **Feature 13** on README.adoc :)

[2020-07-19 11:53] #161 closed

[2020-07-19 11:54] ozlerhakan commented on #163
fix is ready with 3.0.0

[2020-07-19 11:54] #163 closed

[2020-07-19 11:54] ozlerhakan commented on #164
fix is ready with 3.0.0

[2020-07-19 11:54] #164 closed

[2020-07-21 01:54] sivaprasad-ee opened #166 "Date type columns are not being mapped correctly"
Hi,
In my **people.xlsx** I have a **Date** type column which have date of birth values. When I map the field to a `String` type property in my POJO it is getting the correct value from XLSX file. But if I make the field of type `java.util.Date` or `java.time.LocalDate` then after parsing the property contains the **current(today's) date** value instead of what is there in XLSX file.

[code]

[cod

[2020-07-21 02:12] sivaprasad-ee commented on #166
Hi,
Upon further checking I entered the date in **YYYY-MM-DD** format in Google docs and when I double click on the cell it is showing the calendar so I assumed it is treating it as a **Date** type cell. But when I go to **Format -> Number** menu I noticed it is not treated as **Date** type column. When I mark the **Date** type columns as Date type by selecting **Format -> Number -> Date** then th

[2020-07-21 02:12] #166 closed

[2020-07-24 13:51] ozlerhakan commented on #165
feel free to leave your response here, we can look at it again

[2020-07-24 13:51] #165 closed

[2020-08-03 18:37] mail2vizzi opened #167 "Custom validation to Excel headers"
How to perform custom validation on excel headers like ignoring case sensitivity and trimming spaces when using annotations like  @ExcelCellName("ID")

[2020-08-03 20:30] ozlerhakan commented on #167
Hi @mail2vizzi ,

You can use the `caseInsensitive()` feature  of the PoijiOptions . trimming spaces are not available for headers. we can support though.

[2020-08-03 20:41] mail2vizzi commented on #167
Thanks, could we expect  trimming spaces option for headers in next release?

[2020-08-03 21:04] ozlerhakan commented on #167
sure, we can add it :)

[2020-08-19 11:01] amar212b opened #168 "Are we able to create POJO mapping for List<String> columns or String[].Does it support?"
Exception in thread "main" java.lang.IllegalArgumentException: Can not set [Ljava.lang.String; field utility.PoijiPost.Ids to java.lang.String

Getting this error when mapping where i need to pass multiple value given in excel column .
Example : - Column A
                    P,Q

in POJO class we create List<String> ColumnA or String[] Column A.
It doesnt work. Does this library support such mapp

[2020-08-19 12:18] ozlerhakan commented on #168
Poiji does not support this format

[2020-08-20 19:41] ozlerhakan commented on #168
We can make this possible in the next version @amar212b

[2020-08-22 17:21] chaitut715 opened #169 "Option to get cell value instead of formula"
I am getting Cell formula rather than Cell value. Is there any configuration to get Cell value.
I saw similar issue #63 but opening new issue as it's very old.
Provided sample code and excel below.

Version: 3.0.0

Java Code:
`
import java.io.File;
import java.util.List;

import com.poiji.bind.Poiji;

public class PojiPoc {

	public static void main(String[] args) {
		String filePath ="employees.x

[2020-08-28 18:33] chaitut715 commented on #169
Thanks

[2020-08-28 18:43] chaitut715 opened #170 "Get Actual Date Value"
I am trying to read date from excel.
Actual value in excel:07/01/16
formatted value: 07/01/2016

I want to get the actual value(07/01/2016) instead of formatted value .

I tried Feature 11 like below but couldn't make it work:
`PoijiNumberFormat numberFormat = new PoijiNumberFormat();
		numberFormat.putNumberFormat((short) 4, "mm/dd/yyyy");`

Version: 3.0.0
Input file: [poiji-dates.xlsx](https://g

[2020-08-28 20:33] ozlerhakan commented on #170
Hi @chaitut715 ,

when I use your test excel file, I get the cell value as "1/7/16", I don't get the formated value like "07/01/2016". I cannot produce the case you mention it

[2020-08-29 01:11] chaitut715 commented on #170
I want to read as 07/01/2016.
Sorry, if I didn't write clearly.

[2020-08-29 12:58] ozlerhakan commented on #170
Ah okay, so you need to `numberFormat.putNumberFormat((short) 14, "dd/MM/yyyy");` not 4. you can check each cell's format using `poijiLogCellFormat` . Please look at as well https://github.com/ozlerhakan/poiji#feature-10 on README. I hope it can help you out

[2020-08-30 09:33] chaitut715 commented on #170
It worked. Thanks!

[2020-08-30 09:33] #170 closed

[2020-09-10 02:05] glqdlt opened #171 "Support functions like'Stream'?"
Hello

I have to use the big table.

The record count for tables in the database is over 100K (100,000).

Do you support functions like'Stream'?

Or is there a function to create a file and append to it?

[2020-09-10 11:30] ozlerhakan commented on #171
Hi @glqdlt ,

How exactly do you want to use Stream API? The size of the excel does not matter for poiji, did you check https://github.com/ozlerhakan/poiji#feature-6  as well?

[2020-09-15 11:40] arrow7Q opened #172 "Support to read from single sheet instead of a complete excel file"
Can we have a support in Poji to read from a sheet and map each row into an object ?

[2020-09-15 12:49] ozlerhakan commented on #172
Hi @arrow7Q ,

Interesting, could you share an example for that purpose?

[2020-09-15 14:41] arrow7Q commented on #172
Hi,

Suppose we have a workbook having multiple sheets each corresponding to a table(thus a domain object) in database.
And the data from the sheets is needed to update the DB, so each sheet has to be mapped to respective Java objects.

So if we have support to read from single sheet instead of complete workbook, then the above scenario can be handled gracefully.

[2020-09-15 14:54] ozlerhakan commented on #172
so do you want something like this: `Poiji.fromExcel(<sheet>)` ?

[2020-09-15 15:26] arrow7Q commented on #172
Yes, that would be helpful and add more flexibility in the usage

[2020-09-15 15:36] ozlerhakan commented on #172
I see, let's consider to add this feature then :) after analyzing.

[2020-09-22 12:04] zhfkt opened #173 "Why are the Feature 10 and 11 not bugs ?"
I am using your Poiji framework to read excel and it gave me lots of conviences. Thanks to the developer.

When I was using this framework, I have the issue and I found this issue is the same described as Feature 10 and Feature 11 on https://github.com/ozlerhakan/poiji.

i.e.

1. In the excel , I found the date format is 2020/9/18

![image](https://user-images.githubusercontent.com/4969804/9387834

[2020-09-22 12:38] ozlerhakan commented on #173
Hi @zhfkt ,

Because the number you specify (e.g. 14) could be different depending on an excel file. By default 14 is a built-in format which contain the default date "m/d/yy" format of the excel file structure.

As I pointed out in the first question, this could be totally different for another excel file. So you need to first monitor a cell and find the number where the cell uses then you can ch

[2020-09-22 13:01] zhfkt commented on #173
Thank you for replying.

From your reply, it seems that every excel file will have different index number for the date format. In our system, we need to process different excel files actually instead of only one excel file. If I gave a fixed index 14 here, is it in risk for our system to apply the "yyyy/MM/dd" to the other (not date) cell format for the other excel files ? Will it cause the proten

[2020-09-22 14:04] ozlerhakan commented on #173
I should correct myself, 14 is reserved number for "m/d/yy" so you only change the format of date format of 14. I think if you give a fixed index 14 and you only change the format behavior of 14 that is it. It shouldn't exhibit a risk for my perspective

[2020-09-23 01:08] zhfkt commented on #173
Thank you for confirmation.

I suggest you could mentioned "14 is reserved number" on the main page of wiki as well.

[2020-09-23 01:10] zhfkt commented on #173
I also hope maybe there is an internal method to set the format of the date instead of manualy runing the code "dateFormat.putNumberFormat((short) 14, "yyyy/MM/dd");   " if the '14' is a fixed index for all excel files.

[2020-09-23 05:13] ozlerhakan commented on #173
let's keep it here, we can find a way if this option is requested more

[2020-10-02 19:40] ozlerhakan commented on #171
feel free to add your comment, until now I'm closing it

[2020-10-02 19:40] #171 closed

[2020-10-02 19:41] ozlerhakan commented on #173
for now we can close this task, we can re-open it once we get interactions about the content

[2020-10-02 19:41] #173 closed

[2020-10-02 19:43] ozlerhakan commented on #168
we can use List<String>  as a data type of a field in the next release @amar212b

[2020-10-08 20:28] alicanozer opened #177 "Missing first row when using header and skip options."
if i set options like this:
PoijiOptions options = PoijiOptions.PoijiOptionsBuilder
                .settings(1)//I CAN NOT SET TO 0
                .sheetIndex(sheetIndex)
                .build();

I am missing the first row after header row. Maybe because of this line:
public static PoijiOptionsBuilder settings(int skip) {
            if (skip <= 0) {
                throw new PoijiException("P

[2020-10-08 20:35] ozlerhakan commented on #177
Hi @alicanozer ,

Do you want to skip the first record of the data?

[2020-10-09 15:35] alicanozer commented on #177
Hi Hakan,

I only want to skip header row and i also want to choose sheet index, how can i do this. if i want to use options it automatically skip the first row(after header)

[2020-10-09 16:57] ozlerhakan commented on #177
this should works fine :
[code]

[2020-10-10 17:03] ozlerhakan commented on #169
up

[2020-10-14 10:24] akashpusolu commented on #167
@ozlerhakan is now this library support trimming spaces when using annotations?

[2020-10-14 10:32] ozlerhakan commented on #167
now right now, after release 3.0.1 it will be :)

[2020-10-14 11:35] akashpusolu commented on #167
okay thank you

[2020-10-23 05:39] ankurraiyani commented on #133
@ozlerhakan Thanks for this lib.
I can understand you want to have this lib for Excel.

You can either create new lib for CSV or add support with 'fromCSV' in same lib.
That would be really helpful.

Thanks once again !!

[2020-10-24 17:59] ozlerhakan commented on #177
feel free to leave your comment here, if you need further help, thank you

[2020-10-24 17:59] #177 closed

[2020-10-25 12:45] #168 closed

[2020-10-25 12:45] #169 closed

[2020-10-25 12:45] #172 closed

[2020-10-25 12:45] #167 closed

[2020-11-03 09:33] breucode opened #180 "Update release notes: Fixed bug for parsing case insensitive ExcelUnknownCells headers"
I noticed, that, when the caseInsensitive option is set to true, the header names for the ExcelUnknownCells map are now parsed with lowercase. This wasn't the case before. Could you please add this to the release notes?

Thanks :)

[2020-11-03 09:59] ozlerhakan commented on #180
Hi @breucode , Sure! I will update the README file

[2020-11-03 10:02] #180 closed

[2020-11-13 13:17] acoj1993 opened #182 "HSSFUnmarshaller does not release locks from the file"
Hi,

I have a use case, where I would move a file from one directory to another after I read the data using your library.
However, when I input an XLS file, I am unable to delete the file. This does not happen when I input an XLSX file.

Am I right that the HSSFUnmarshaller does not release locks from the file?

[2020-11-13 14:25] ozlerhakan commented on #182
Hi @acoj1993 ,

Interesting, we have different test cases with xlsx and xls files. They do not produce such a problem. I will be pleased If you take a look at the problem via PR

[2020-11-14 16:51] vaa25 commented on #171
@glqdlt maybe [this one](https://mvnrepository.com/artifact/io.github.vaa25/poiji2) can help you

[2020-11-14 16:53] vaa25 commented on #162
@acyuta1 maybe [this one](https://mvnrepository.com/artifact/io.github.vaa25/poiji2) can help you

[2020-11-14 19:05] ozlerhakan commented on #171
so sad that I see this sentence in your @vaa25  forked poiji: `Great thanks to ozlerhakan that ignored my pull requests.`

even I said this in the PR:

I haven't said "I am rejecting your PR or anything that implies something about rejecting" please do your PR again 🙏 or correct your sentence in order to avoid a misunderstanding 🤗

[2020-11-21 15:22] acoj1993 commented on #182
Ok, I will see what I can do.

[2020-12-14 06:38] prabhatsir opened #184 "Feature 16 not available for sheet"
Could you please disclose the actual version of latest release since the last feature 16(passing sheet as parameter) is very much unavailable to me.

[2020-12-14 08:25] ozlerhakan commented on #184
Hi @prabhatsir ,

README shows all the features users can benefit from, you can look at https://github.com/ozlerhakan/poiji/releases for the latest changes.

[2020-12-17 18:08] prabhatsir commented on #184
I would like to know the point of passing sheet when options provide a similar feature and when this feature does not seem helpful after removeCell() of duplicate headers

[2020-12-18 09:34] ozlerhakan commented on #184
You can ask here for more info https://github.com/ozlerhakan/poiji/issues/172 since this was a request. Each excel header must be unique.

[2020-12-18 13:26] bendh opened #185 "Default system locale gives different behavior"
First, I enjoy working with your library, saves a lot of POI boilerplate code ;<). Thanks for the hard work.

I was recently investigating issues with the parsing of Integers. While the tests where succesfull on some developpers PC and jenkins they where failing on other PC's. We noticed differences in OS locales.

After pulling the library sources locally. I runned "mvn clean test" and all tests

[2020-12-18 18:12] ozlerhakan commented on #185
Hey @bendh,

Thank you first off :) and for bringing this up.

Feel free to make a PR for that.

[2020-12-20 04:23] prabhatsir commented on #184
Fine then if you insist in my virtual sheet I will go ahead with deleting all the columns as well, under the repeated headers.

[2020-12-20 04:23] #184 closed

[2020-12-20 04:23] prabhatsir commented on #184
Fine then if you insist in my virtual sheet I will go ahead with deleting all the columns as well, under the repeated headers.

[2020-12-27 15:17] ozlerhakan commented on #185
you can use 3.0.3 right now @bendh , thank your for your help 🙌

[2020-12-27 15:17] #185 closed

[2020-12-28 16:44] #182 closed

[2021-01-18 16:31] acoj1993 commented on #182
Hi again,

sorry for not posting back to this issue, but I was extremely busy and could not get the chance to take a look at the problem.
Here is, however, a code snipped of how you can reproduce the problem.

[code]

[2021-01-23 19:10] JayeshKumud opened #190 "Can not generate generate List<Inner Class> in class"
Hi, First of all thank you for making such helpful utility,
I have come across situation where I have to generate List<Inner Class> from sheet, like below

[code]

[code]

How would I achieve this, I have made separate sheet for DocumentDetail but still it doesn't work, Please help.

[2021-01-26 14:20] anandh51295 opened #192 "ClassCastException Issue"
I am getting this error java.lang.ClassCastException: org.apache.poi.xssf.usermodel.XSSFWorkbook cannot be cast to org.apache.poi.hssf.usermodel.HSSFWorkbook

[2021-01-26 14:47] ozlerhakan commented on #192
Hi @anandh51295 ,

Could you please past the stack trace and the steps you produce?

[2021-02-04 16:46] ozlerhakan commented on #192
feel free to leave a comment, since it is idle, I'm closing it

[2021-02-04 16:46] #192 closed

[2021-02-04 16:47] ozlerhakan commented on #190
did you want to take it @JayeshKumud ?

[2021-03-13 23:58] #190 closed

[2021-03-17 06:13] ketan2505 opened #195 "preferNullOverDefault not working for Date"
I am not able to get default values as mentioned in below code snippet when excel sheet contains alphabet characters in `valid_from` and `valid_to` columns Ex. abcd,  NA etc.

[code]

And these are poijiOptions I am using-
[code]

When excel sheet has blank columns (`valid_from` and `valid_to` ), default values appear in result object. However when I put invalid data like `abcd` in date columns, I

[2021-03-17 10:18] aleksandar-stefanovic-tamedia opened #196 "Enum usage explain?"
Maybe I'm missing something. Class into which I want to parse is created. One of the columns is defined:
[code]
With enum **Interval**:
[code]
But after parsing field interval is always null. What I'm missing here?

[2021-03-17 13:33] ozlerhakan commented on #195
@ketan2505 ,

It actually throw an exception and return the current date:
https://github.com/ozlerhakan/poiji/blob/398d2e10a8b4011f17f3b49df65e656b7e4e8b8e/src/main/java/com/poiji/config/DefaultCasting.java#L167

[2021-03-18 07:59] aleksandar-stefanovic-tamedia commented on #196
Managed to solve it. I just added custom casting with all needed types/enums.

[code]

[2021-03-18 07:59] #196 closed

[2021-03-18 10:44] ozlerhakan commented on #196
Hi @aleksandar-stefanovic-tamedia ,

glad you to fix it ! I was going to say that you can implement your custom casting to make it possible.

[2021-04-23 18:45] #195 closed

[2021-05-13 02:08] fer8419 commented on #138
Hi.

I have been having this same problem. For example I have a column with a slightly long number, and instead of getting the original number I get the one that is displayed, for example 5.73147E + 11
instead of 573146569885. I am getting it as string. I am attaching a file with an example cell.

[sample_error.xlsx](https://github.com/ozlerhakan/poiji/files/6469964/sample_error.xlsx)

Thanks.

[2021-05-30 18:06] ozlerhakan commented on #138
Hi @fer8419  and @Muszashi , you can use v3.1.1 to retrieve raw data of cells in excel files.

[2021-07-22 08:28] saladukha opened #202 "Incorrect date format"
In my Excel file, the date is in the format: 06/29/2021

When applying debug, I see the following information:
PoijiLogCellFormat log = new PoijiLogCellFormat ();
PoijiOptions options = PoijiOptions.PoijiOptionsBuilder.settings ()
                 .poijiLogCellFormat (log)
                 .build ();

Poiji.fromExcel (new File (xlsFileLocation), XlsFileDataDTO.class, options);
List <PoijiLogCellFo

[2021-08-06 05:28] ozlerhakan commented on #202
Hi @saladukha ,

Could you share with me the case so I can try it

[2021-08-06 07:36] saladukha commented on #202
Hello @ozlerhakan ,

DTO
[code]

method for extracting objects from Excel
[code]
[file.xlsx](https://github.com/ozlerhakan/poiji/files/6943943/file.xlsx)

[2021-08-06 11:36] ozlerhakan commented on #202
Thank you @saladukha , I will take a look at it

[2021-09-01 22:35] cvargasr31 opened #206 "Hi, can it be used with kotlin?"
I just want to read data from excel using kotlin so I want to know if I can use this library. If so can you provide a quick example?

PD: I have been using this with java, awesome library!

[2021-09-04 15:23] ozlerhakan commented on #206
Hi @cvargasr31 ,

Thank you for your support first off.

You can use Poiji once you add the Poiji dependency to the pom.xml of a Kotlin project. Here is a snippet written in Kotlin:

[code]

[2021-09-04 17:13] ozlerhakan commented on #202
Hi @saladukha ,

Using LocalData, all we do is that we convert correctly the string date to LocalDate properly. This does not mean that we expect the same format as we point. Using this format we only show the places where day, month and year sections are. LocalDate prints the date in ISO8601 format (yyyy-MM-dd) , so when you do `LocalDate.now()` you will see the same format of the current date.

[2021-09-04 17:19] ozlerhakan opened #207 "Having mandatory and optional Columns"
### Discussed in https://github.com/ozlerhakan/poiji/discussions/203

<div type='discussions-op-text'>

<sup>Originally posted by **bhelemilan** August 11, 2021</sup>
With **namedHeaderMandatory** option set to true, if we use **@ExcelCellName** annotation, the field is mapped to respective column in excel sheet and becomes a mandatory.

Can it be extended to have some optional columns?

Example:

[2021-09-06 04:45] cvargasr31 commented on #206
thanks for the response, that works if the class is also written with kotlin instead of java?

[2021-09-06 04:54] #206 closed

[2021-09-14 04:18] savinaysinha opened #208 "Issue with Negative numbers"
In my excel we have some coulmns that can be negative, but while converting excel into pojo, it assigns 0 instead of negative number:

let say my excel is this :

![image](https://user-images.githubusercontent.com/47267136/133193602-15fd2270-d7cc-43a1-ba56-4da40821a42f.png)

values column contains negative and positive numbers.

this is pojo class
![image](https://user-images.githubusercontent.com

[2021-09-16 15:23] saladukha commented on #202
Hello @ozlerhakan ,

Ok, thanks for the answer.
Since I also use the same data to send in the form of json to a third-party application, so I solved this problem with:
`@JsonFormat (shape = JsonFormat.Shape.STRING, pattern = "dd/MM/yyyy")`

[2021-09-20 15:36] t-jd opened #209 "Add support for java records"
It would be awesome to map an xls/xlsx record to a java record, like this one:

[code]

... but currently Poiji throws an exception:

[code]

[2021-09-21 08:46] ozlerhakan commented on #209
Hey @t-jd ,

Thanks for the issue, Poiji does not support new features of Java.

[2021-09-21 08:46] ozlerhakan commented on #208
Hi @savinaysinha ,

Thank you bringing this up. I will take a look at this case.

[2021-09-21 10:38] t-jd commented on #209
Hi @ozlerhakan
Yep, but anyway, any plans to support new features like java records? It would be super useful if can bind xls row with a java record

[2021-09-21 19:00] ozlerhakan commented on #209
It would be good to support indeed @t-jd

[2021-10-03 09:40] ozlerhakan commented on #209
Hi @t-jd ,

Do you want to make this changes by yourself in the next release of Poiji? wdyt :)

[2021-10-03 13:16] t-jd commented on #209
Hi @ozlerhakan
I will take a look once I have free time, but I don't promise, maybe someone else will do it before me

[2021-10-31 07:31] ashishchoksi opened #210 "support trimming over list"
I have a column in excel with value => `"abc,      pqr,  xyz"` (multiple spaces in between)

I am capturing it as a list in my POJO.

@ExcelCellName("col)
List<String> col;

result =` ["abc","       pqr","  xyz"]` (multiple space included )

it would be great if we support trim over list also,
or if it is already here please tell me what option I need to set.

Thank you.

[2021-10-31 09:51] ozlerhakan commented on #210
Hi @ashishchoksi ,

Thank you for your advice! We need to update https://github.com/ozlerhakan/poiji/blob/398d2e10a8b4011f17f3b49df65e656b7e4e8b8e/src/main/java/com/poiji/config/DefaultCasting.java#L216

Feel free to create a PR if you want to contribute to Poiji :)

[2021-11-06 18:57] vaa25 commented on #210
@ashishchoksi You can use PoijiOptions.PoijiOptionsBuilder.settings().addListDelimiter("\s*,\s*").build() to remove all spaces between delimiter and values

[2021-11-06 19:02] vaa25 commented on #207
@bhelemilan You can use mandatory option in [Poiji2](https://github.com/vaa25/poiji2)

[2021-11-06 19:10] vaa25 commented on #208
@savinaysinha  You can use [Poiji2](https://github.com/vaa25/poiji2). It works with negative numbers properly.

[2021-11-07 00:24] ozlerhakan commented on #208
Hi again @savinaysinha ,

I couldn't reproduce this problem with both xls and xlsx excel formats. BTW **you should use float not long if you have decimal numbers.** Feel free to add you comments If you have still this problem.

all the best

[2021-11-07 00:24] #208 closed

[2021-11-07 10:45] ozlerhakan commented on #210
you can use Poiji 3.1.2 @ashishchoksi  thanks!

[2021-11-07 10:45] #210 closed

[2021-11-07 10:46] ozlerhakan commented on #207
you can use Poiji 3.1.2 @bhelemilan  Thanks!

Please refer to https://github.com/ozlerhakan/poiji#optional-mandatory-columns to make use of.

[2021-11-07 10:46] #207 closed

[2021-11-07 10:47] ozlerhakan commented on #209
This will be ready in version 4.0.0 @t-jd  Thanks!

[2021-11-11 04:52] vaquarkhan opened #212 "Poji changed String 3/30/2021 to 3/30/21"
I have date 3/30/2021 which i am reading as String using Poji when its coming into POJO its coming like 3/30/21 .
Now issue is  when i convert this 3/30/21 . to java.sql.date before store into MYSQL its coming like  0021-03-30.

How can i read full 3/30/2021 using poji ?

[2021-11-11 08:50] ozlerhakan commented on #212
Let me understand clearly, you have a date column and you map it as String as follows:

[code]

and you get the value as "3/30/21" right?

Normally It shouldn't be this way since it's of type String. Could you give me examples?

[2021-11-11 15:10] vaquarkhan commented on #212
I have date column in xlsx
![image](https://user-images.githubusercontent.com/3491908/141320547-2f78949e-eef7-451d-810b-82e7042d6450.png)

Now here is my POJO

      @ExcelCell(21)
	String startDate;
	@ExcelCell(22)
	String endDate;

**Service code :**
      List<Resource> resource = Poiji.fromExcel(new File(SAMPLE_XLSX_FILE_PATH), Resource.class);

Once list populated i am sending into Springboot

[2021-11-11 15:42] ozlerhakan commented on #212
Could you please share with me an excel file with those few examples?

[2021-11-11 16:33] vaquarkhan commented on #212
You can try with this data
![image](https://user-images.githubusercontent.com/3491908/141334334-66f41439-9a69-45fc-b571-47d8df924f85.png)

[2021-11-11 17:16] ozlerhakan commented on #212
I need your sample excel file @vaquarkhan , otherwise I tried but couldn't produce this case for the date values like '3/30/2021'

[2021-11-11 18:50] ozlerhakan commented on #74
Hi @hendryang , sorry that I see now your message. `preferNullOverDefault(false)` is the default behavior. It should work with preferNullOverDefault(true) to work with null values. Could you send me a sample excel file so that we can check it out?

[2021-11-11 20:12] vaquarkhan commented on #212
[sample.xlsx](https://github.com/ozlerhakan/poiji/files/7523036/sample.xlsx)
here you go

[2021-11-12 06:13] ozlerhakan commented on #212
Thanks @vaquarkhan , Now I see that there is a style in these columns and poi by itself gets their format index as 14 and theirs format string as 'm/d/yy'. You can debug all the cells of an excel file via https://github.com/ozlerhakan/poiji#debug-cells-formats.

What you need to do is you can convert the format string of the format index via https://github.com/ozlerhakan/poiji#modify-cells-formats

[2021-11-12 16:34] vaquarkhan commented on #212
Thanks let me check

[2021-11-13 10:58] hendryang opened #213 "Handling list of Objects"
Hi Ozler,

Any idea how to I handle such scenario?

Given I have table below , ( I can't merge cell with MD , but assume Person 1 is merge cell for column B,C,D. same goes to Person 2 and Person 3)

This is basically a list of 3 Person objects within a single table, is there a way to handle such scenario that we can map those 3 persons to `List<Person>` ? Thank you

| Data | Person 1 || | Person 2

[2021-11-13 13:49] hendryang commented on #213
using `@ExcelCellName("Name")` seems to only take the last "Name" column such as "null" and "vava"

also tried my luck with `@ExcelRange... List<PersonInfo> persons;` , but it doesn't support map to List

[2021-11-13 16:11] ozlerhakan commented on #213
Hi @hendryang ,

Thanks for bringing this up. You're right `@ExcelRange` doesn't fit for this case. Why you don't convert data to this one first:

<img width="179" alt="Screen Shot 2021-11-13 at 19 10 12" src="https://user-images.githubusercontent.com/1964927/141650877-bc4093c5-280f-42b1-8499-566cbc1e769e.png">

[2021-11-21 09:26] ozlerhakan commented on #212
you can use 3.1.3 of Poiji @vaquarkhan , thank you for your contribution :)

[2021-11-21 09:26] #212 closed

[2021-11-26 22:11] #213 closed

[2021-12-03 09:07] beckerdennis opened #215 "BigDecimals do not use the provided Locale from PoijiOptions"
If a column is parsed as `BigDecimal`, the parser will always use the system default `Locale`. That causes my unit tests to fail either in my build pipeline (`Locale.US`) or on my device locally (`Locale.GERMANY`)

[2021-12-03 09:13] ozlerhakan commented on #215
Hi @beckerdennis ,

Thank you for contributing Poiji. I see that we don't use Locale for the bigDecimal https://github.com/ozlerhakan/poiji/blob/398d2e10a8b4011f17f3b49df65e656b7e4e8b8e/src/main/java/com/poiji/config/DefaultCasting.java#L135

Do you want to make available this behavior for big decimal numbers via PR? otherwise I will do it.

[2021-12-03 09:15] ozlerhakan commented on #215
Ah I see your PR already! thank you @beckerdennis , I will check it on weekend

[2021-12-03 09:15] beckerdennis commented on #215
Hi @ozlerhakan
I just created a PR with the required changes :)

[2021-12-04 10:58] ozlerhakan commented on #215
you can use now poiji 3.1.4 @beckerdennis , thanks again :)

[2021-12-04 10:58] #215 closed

[2021-12-13 22:33] bhelemilan opened #225 "Issue in regards to Discussion #203"
Tested with v 3.1.5: Expected **HeaderMissingException** but not thrown (instead assigned with null value).

With v 3.1.2+, since **namedHeaderMandatory option** has been removed, I annotated with **@ExcelCellName("columnName")** (mandatory attribute set to true, as per documentation), and the column is missing from excel file.

Expecting **HeaderMissingException** to be thrown, but instead **null

[2021-12-14 14:43] ozlerhakan commented on #225
Hi @bhelemilan ,

Thank you for using Poiji first off. Could you share with me the code and a sample of your excel file?

[2021-12-28 02:00] #225 closed

[2022-02-12 12:33] hendryang opened #227 "Handling of multiple sheets data"
Hello @ozlerhakan and team.

Is it possible to retrieve data from multiple sheet into single object? Sample usage :
[code]
Thank you

[2022-02-12 12:40] ozlerhakan commented on #227
Hi @hendryang ,

Poiji does not support multiple sheets. What you can do is you can get the data from each sheet and combine them into one data model with regard to your business need for now.

Once you decide what the correct approach should be for this purpose, feel free to make  a PR :)

[2022-02-26 10:51] #227 closed

[2022-03-03 13:18] DejanPerovic opened #228 "Hyperlink"
Does Poiji support hyperlinks between sheets?

i.g.

[code]

[code]

[2022-03-04 14:04] ozlerhakan commented on #228
Hi @DejanPerovic ,

Poiji does not provide this option. There are seversl closed issues anout this here. You can make it possible If you dive into it.

[2022-03-15 21:29] jrse opened #230 "support for different date formats in one sheet"
As: Excel User
I want to: use local date and number formats

we have the situation that we serve excel templates to our customers. Those templates have sheets with date and number cells.
It would be nice, to use the cell format for localDate and number mapping and not PoijOptions date format.
As we do not want to have different templates for e.g. Germany and US it would be nice to have this featur

[2022-03-18 15:55] ozlerhakan commented on #230
Hi @jrse ,

Poiji supports one date formats, we need to enable different date formats in the annotation level I guess. Do you want to consider to contribute for this option?

[2022-03-19 14:47] #228 closed

[2022-03-22 17:40] rob-heaney-itg opened #233 "Extend scope of @ExcelCellName and @ExcelCell 'mandatory' flag to constrain cell values."
Hi,

It would be great if the scope of the "mandatory" constraint (on the @ExcelCellName and @ExcelCell annotations) could be extended to affect the actual cell values, not just column headers.  Is this possible?

Either that, or perhaps add support to PoijiOptions to allow for instantiating POJOs through our own all-arg-constructors, so that we can effectively add our own mandatory/optional valid

[2022-03-24 12:01] rob-heaney-itg commented on #233
Hi @ozlerhakan,

If it helps, I have created a "draft" working example of how this could be approached. However, rather than muddy your project repo with branches & pull-requests, is there somewhere I can provide you with "work-in-progress" patch file for you to review?

Thanks

[2022-03-24 17:14] ozlerhakan commented on #233
Hi @rob-heaney-itg ,

Thank you for contributing to Poiji!

I come up with two options for this case:
1. just fork Poiji do your changes on top of the master in a new branch and we can see how it goes on your forked repo.
2.just fork Poiji do your changes on top of the master in a new branch and create a patch, and send it to me. I can review and send you a reviewed patch.

What do you think?

[2022-03-24 17:22] rob-heaney-itg commented on #233
Hi @ozlerhakan,

That sounds great.  I can send you the patch via email, if that's preferred?

[2022-03-24 18:58] ozlerhakan commented on #233
Thank you @rob-heaney-itg , I will look at it in 3 days.

[2022-03-26 12:22] ozlerhakan commented on #233
Hi @rob-heaney-itg , It looks promising your changes, these changes are for xls files only, do you want to add the same ability for xlsx files? BTW I opened up a new branch called 3.1.8. You can make your PR on this branch. Thank you again! :) we can tune a bit more once you make your changes on code.

[2022-03-28 16:42] rob-heaney-itg commented on #233
Hi @ozlerhakan,

I did have a look into how to do the equivalent for XLSX files with the `XSSFUnmarshaller`, but in all honesty, I couldn't quite see where it could be done. Correct me if I'm wrong, but all the parsing in the `XSSFUnmarshaller` seems to be completely delegated to whichever SAXParser implementation you have on your classpath...? So it seems difficult to configure in the same way.

[2022-03-30 03:03] dacopan opened #234 "extrange wrong error when disableXLSXNumberCellFormat is true"
Currently when try parse attached files we have a error on parse number cells
1. java.lang.NullPointerException: Cannot invoke "String.length()" because "address" is null
2. java.lang.ArrayIndexOutOfBoundsException: Attempt to modify attribute at illegal index: 5

[autos2.xlsx](https://github.com/ozlerhakan/poiji/files/8376654/autos2.xlsx)
[autos3.xlsx](https://github.com/ozlerhakan/poiji/files/83

[2022-04-01 18:18] ozlerhakan commented on #234
Hi @dacopan ,

I'll look at the problem, thank you!

[2022-04-01 18:21] ozlerhakan commented on #233
ah I see @rob-heaney-itg , we can first go for XLS files then we can take another look at how we can do for XLSX files however, It might not be cover the same approach as XLSs.

[2022-04-01 18:26] ozlerhakan commented on #234
can you share your entity model as well @dacopan ?

[2022-04-02 08:19] #230 closed

[2022-04-04 03:00] dacopan commented on #234
Hi, sorry by the late, this is my Entity, `UqaiExcelBase` has only `rowIndex`
please tell me if you need more info

[code]

[2022-04-04 03:13] dacopan commented on #234
please see this repo https://github.com/dacopan/poiji-error-demo
in Test package you can change `autos2` and `autos3` both show strange error derivated of the reported error
Note.- Sorry by the bad code, it's a starter library I'm testing

[2022-04-08 20:00] ozlerhakan commented on #234
thank you @dacopan , I see what It causes!

[2022-04-08 20:03] ozlerhakan commented on #233
you can create a PR, the base branch will be 3.1.8. so the changes will be merged to 3.1.8 not master, or I can commit your patch no problem.

[2022-04-10 07:18] ozlerhakan commented on #209
right now there are some limits to unable java records on Poiji. This does not mean that we don't add it to Poiji, however, once we handle it, I re open this issue to integrate it.

[2022-04-10 07:18] #209 closed

[2022-04-10 09:46] milospopovic opened #236 "Default value for list of strings"
Hi,

when I want to set a property of type `List<String>` and null is not preferred over default value, when a cell value is an empty string, I expect default value to be set as empty list. Instead, I get an exception that "" cannot be converted into list of strings: `java.lang.IllegalArgumentException: Can not set java.util.List field ... to java.lang.String`

Thanks a lot.

[2022-04-10 13:03] ozlerhakan commented on #236
Hi @milospopovic ,

Can you provide your case with an example?

[2022-04-10 14:16] rob-heaney-itg commented on #233
Yes please @ozlerhakan ,  thank you.

[2022-04-11 19:34] ozlerhakan commented on #233
I see @hoemich , we might go for what @rob-heaney-itg suggests.

[2022-04-14 12:03] rob-heaney-itg commented on #233
Hi @ozlerhakan ,  do you have a target time-frame as to when you could include this in your next release?

[2022-04-14 19:47] ozlerhakan commented on #233
probably next week @rob-heaney-itg

[2022-04-15 13:28] milospopovic commented on #236
Hi, sure.

I have list of strings in my model:

[code]

In Excel, there is an empty cell:
|**emails**|
| ------- |
|          |

Now I want to convert this excel into Employee:
[code]

The expected behavior is that I get an empty list of strings. Instead, I get an IllegalArgumentException.

Thanks.

[2022-05-03 11:17] rob-heaney-itg commented on #233
Hi @ozlerhakan ,  any update at all?  Thanks

[2022-05-04 18:50] ozlerhakan commented on #233
Hi @rob-heaney-itg ,

I'm on holiday, I need to schedule for the changes

[2022-05-11 08:52] sriram0626 commented on #164
[testExcel.xlsx](https://github.com/ozlerhakan/poiji/files/8668298/testExcel.xlsx)
Hi @ozlerhakan I have an excel like the one i attached. When i read it using POIJI.FromExcel, i am not getting the values to the object. Could you please help me to understand what is wrong here or what i need to do here to read the values ?

[2022-05-18 06:28] ozlerhakan commented on #164
Hi @sriram0626 ,

You need you use `PoijiOptions` to refer that your header starts at line 1:

[code]

[2022-05-18 06:29] ozlerhakan commented on #234
Hi @falko , could you please share with me your excel file and model class?

[2022-05-18 06:44] ozlerhakan commented on #236
Hi @milospopovic ,

`preferNullOverDefault` does not work with `List`. You can do :

[code]

[2022-05-18 06:48] sriram0626 commented on #164
Thanks @ozlerhakan . Yeah i have tried this and it works.

[2022-05-20 16:02] jpsingarayar opened #238 "Cannot get a STRING value from a NUMERIC cell"
There is no header in the excel and my first column is a column with numbers. I dont want to treat that as an integer though.
[code]

The first column data looks like this

[code]

and my pojo is like this

[code]

Getting an exception

[code]

[2022-05-26 16:50] ozlerhakan commented on #238
Hi @jpsingarayar ,

Could you please share with my the excel file and its relevant model?

[2022-05-27 10:54] rob-heaney-itg commented on #233
Not a problem @ozlerhakan ,  hope you enjoyed your holiday.

Would be good to know when this gets scheduled in, if you don't mind keeping us in the loop?

Many thanks

[2022-06-12 12:14] #238 closed

[2022-06-16 10:55] vesi-azdio opened #241 "Exception when trying to parse .xlsx file"
It seems XMLHelper.newXMLReader() which is used when parsing .xlsx files is missing.
[code]

[2022-06-17 09:50] nissshh opened #242 "How can we apply I18N internationalization , headers languages."
We use the cellnames as headers how can we use other langage as names for cell
@ExcelCellName("emails") @ExcelCellName("電子郵件")

[2022-06-18 11:23] ozlerhakan commented on #241
Hi @vesi-azdio ,

Make sure you have the right dependencies on your project when using Poiji. Poiji uses 5.2.1 right now. If you have any comments you can leave it here.

[2022-06-18 11:23] #241 closed

[2022-07-07 00:04] #242 closed

[2022-07-12 10:38] rob-heaney-itg commented on #233
Hi @ozlerhakan ,  any update on this?

Thanks

[2022-07-18 14:29] furoraru opened #244 "Repeated columns in @ExcelCellRange"
Hi!

Suppose, I have a table with repeated nesting:

<table><thead><tr><th rowspan="2">Type</th><th colspan="3">June</th><th colspan="3">July</th></tr><tr><th>Plan</th><th>Delta</th><th>Sum</th><th>Plan</th><th>Delta</th><th>Sum</th></tr></thead><tbody><tr><td>type 1</td><td>1</td><td>1</td><td>2</td><td>1</td><td>2</td><td>3</td></tr><tr><td>type 2</td><td>2</td><td>2</td><td>4</td><td>3</td><td>

[2022-07-18 14:44] furoraru commented on #244
Or maybe

[code]

[2022-07-22 06:52] ozlerhakan commented on #244
Hi @furoraru ,

You give different names for each headers line PlanA | DeltaA | SumA | PlanB | DeltaB | SumB. You can look at this test https://github.com/ozlerhakan/poiji/blob/master/src/test/java/com/poiji/deserialize/DeserializeByCellRangeTest.java

[2022-08-01 15:48] #244 closed

[2022-08-14 10:29] #234 closed

[2022-08-14 11:43] ozlerhakan commented on #233
I want to close this issue ASAP @rob-heaney-itg , sorry

[2022-08-17 12:18] rob-heaney-itg commented on #233
Thanks for the update @ozlerhakan 👍    However, I've just noticed you've updated to Java 17 now ..... I really wish this issue had been released _before_ the Java upgrade was,  because the project we're using this on is stuck on Java 11 (with no possibility to upgrade to 17 any time soon!)  ....  Any chance of reverting the Java17-upgrade and only merging _after_ this issue is released?  Is that p

[2022-08-18 10:37] ozlerhakan commented on #233
Hi @rob-heaney-itg ,

We can provide it for both v3.1.7 and the latest version.

[2022-08-18 11:22] rob-heaney-itg commented on #233
Hi @ozlerhakan, ok thank you, that'd be great.  If that's the case, then yes I'd appreciate a Java11 version once this issue is merged/released.  Many thanks again.

[2022-09-19 07:49] nqt-tech opened #255 "Can not dateFormatter give YearMonth.class"
Hi,
Currently I only see dateFormatter give Date.class, LocalDate.class and LocalDateTime.class. My Poiji is missing a dateFormatter give YearMonth.class at getValueObject() method.

For details you can review the discussions I mentioned: https://github.com/ozlerhakan/poiji/discussions/254

[2022-11-02 13:47] ort0lan opened #259 "Handling of multiple nested headers"
Is it possible to retrieve data from multiple nested headers?

- I've modified sample Excel [file](https://github.com/ozlerhakan/poiji/blob/master/src/test/resources/test-multi-headers.xlsx) by adding "Location" header:

![multi_header](https://user-images.githubusercontent.com/52777284/199500045-d09b978c-abc9-4352-b1d3-ddd5781d7001.png)
- I've modified [model](https://github.com/ozlerhakan/poiji/

[2022-11-22 20:51] #259 closed

[2022-11-22 20:52] #255 closed